@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');



@mixin colors($background: $secondary-font-color, $text: $secondary-font-color) {
    background-color: $background;
    color: $text;
}

@mixin outer-glow($background: $neon-primary-color, $value: 0px, $value2: 15px) {
    box-shadow: $value $value 50px $value2 $background;
  }

@mixin text-glow($background: $neon-primary-color, $value: 0px, $value2: 15px) {
    text-shadow: $value $value 50px $background;
}

$lighter-primary-color: #AAF0B0;
$medium-primary-color: #89EC92;
$neon-primary-color: #25EE37;
$primary-color: #37BF6C;
$dark-primary-color: #426A46;
$darker-primary-color: #334134;
$darkest-primary-color: #171B18;
$transparent-primary-color: #44954BBF;
$secondary-color: #CF573C;
$darker-secondary-color: #953E2B;
$transparent-secondary-color: #BF5137BF;
$lighter-tertiary-color: #85facf;
$tertiary-color: #37BF8E;
$darker-tertiary-color: #17513C;
$darkest-tertiary-color: #0B261D;
$transparent-tertiary-color: #37BF8EBF;
$lighter-quaternary-color: #FFF3D6 ;
$quaternary-color: #F1CC6F;
$darker-quaternary-color: #957E44;
$darkest-quaternary-color: #6A5F42;
$transparent-quaternary-color: #BF9837BF;
$primary-font-color: #FFFFFF;
$secondary-font-color: #000000;

/* display */

$display-block: block;
$display-grid: grid;
$display-flex: flex;

/* mixins */

@mixin margin($value1: 20px, $value2: 30px) {
    margin-top: 20px;
    margin-bottom: 30px;
}

@mixin box-style($background: $lighter-primary-color, $shadow: $secondary-font-color, $value: 0px) {
    background-color: $background;
    box-shadow: $value $value 50px 0px $shadow;
}

@mixin margin-auto($auto: auto) {
    margin-left: $auto;
    margin-right: $auto;
}

@mixin border-values($style: none, $color: $dark-grey, $width: 2px, $radius: 2px) {
    border-style: $style;
    border-color: $color;
    border-width: $width;
    border-radius: $radius;
}

@mixin colors($background: $secondary-font-color, $text: $secondary-font-color) {
    background-color: $background;
    color: $text;
}

/* tags */

h1, h2, h3, a {
    font-family: Reddit Sans, Calibri, sans-serif;
}

p, pre, label {
    font-family: Reddit Sans, Arial, serif;
}

article {
    grid-column-start: 2;
    @include margin-auto;
    height: 100%;
}

body {
    margin: 0px;
    @include colors($dark-primary-color, $secondary-font-color);
}

footer {
    margin: 0px;
    @include colors($darkest-primary-color, $primary-font-color);

    > p{
        @include margin($value1: 8px, $value2: 0px);
        padding: 15px;
        width: 80%;
    }   
}

main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    margin-top: 30px;
}


nav {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 3;

    a {
        display: block;
        flex: 1 1 100%;
        text-decoration: none;
    }

    ul {
        text-align: center;
    }
}


/* classes */

.banner {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -30px;
    text-align: center;
    width: 100%;
    height: 38px;
    @include colors($darker-quaternary-color, $primary-font-color);
}

.card_link {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

.card-text {
    padding: 15px;
    min-width: 150px;
    max-width: 345px;
    border-radius: 15px 15px 0px 0px;

    h3 {
        font-size: 20px;
    }

    a{
        text-decoration: none;
        color: white;
        border-radius: 15px;

        &:visited{
            text-decoration: none;
            color: white;
        }
    }

    &-alt {
    padding: 15px;
    min-width: 215px;
    justify-content: right;
    border-radius: 15px 15px 0px 0px;

    h3 {
        font-size: 1.25em;
    }

    a{
        text-decoration: none;
        color: white;
        border-radius: 15px;

        &:visited{
            text-decoration: none;
            color: white;
        }
    }
}

    h3 {
          font-size: 20px;
    }

    a{
        text-decoration: none;
    }
}

.countdown{
    &_message {
        grid-column: 2/2;
        grid-row: 3/2;
        background-color: $transparent-secondary-color;
    }

    &_timer{
        grid-column: 2/2;
        grid-row: 1/2;
    }
}

.footer_social {
    width: 80%;

    > ul {
        list-style-type: none;
        text-align: left;
      }
}

.hero {
    &_image {
        height: 75%;
        max-height: 1000px;
        width: 100%;
        z-index: 0;
        object-fit: cover;  
    }
        
    &_text {
        display: block;
        top: 9%;
        padding: 20px;
        margin-top: -10px;
        @include colors($transparent-primary-color, $primary-font-color);
        text-align: center;

        h2 {
            font-size: 2em;
            font-weight: 300;
            margin:0;
        }

        svg {
            width: 300px;

            image {
                width: 300px;
            }
        }
    }

    &_countdown {
        display: grid;
        z-index: 2;
        grid-column: 1 /4;
        grid-row: 1 /2;
        grid-template-columns: 10px auto 10px;
        grid-template-rows: 50% 10% 40%;
        @include colors($darker-secondary-color, $primary-font-color);
        text-align: center;

        label {
            font-size: 3em;
            outline: $medium-primary-color;
            outline-width: 2px;
            text-shadow: 0 5px 10px $lighter-primary-color;
        }

        p {
            font-size: 1.5em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.home-panel {
    grid-column: 2 /3;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    
    &-card{
        max-width: 375px;
        border-radius: 30px;
        border-style: solid;
        border-color: $medium-primary-color;
        border-width: 10px;
        @include outer-glow;
        overflow: hidden;

        &-alt{
            max-width: 375px;
            border-radius: 30px;
            border-style: solid;
            border-color: $medium-primary-color;
            border-width: 10px;
            @include outer-glow;
            overflow: hidden;

            &_image{
                display: block;
                width: 100%;
                height: auto;
                max-width: 375px;
                min-width: 150px;
                border-radius: 15px 15px 0px 0px;
            }
        }

        &_image{
            display: block;
            width: 100%;
            height: auto;
            max-width: 375px;
            min-width: 150px;
            border-radius: 0px 0px 15px 15px;
        }
    }
}

.nav {
    &_bar {
        display:flex;
        border-bottom: 10px;
        border-color: $medium-primary-color;
        z-index: 3;
    }
      
    &_items {
        list-style-type: none;
        border-bottom: 20px;
        border-color: $medium-primary-color;
        margin: 0;
        padding-left: 0px;
        overflow: hidden;
        width: 100%;
        @include colors($darkest-primary-color, $primary-font-color);
    }

    &_link_container {
        text-align: center;
    }
      
    &_links{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.page_link {
    display: none;
    padding-top: 20px;
    padding-bottom: 19px;
    display: block;
    min-width: 200px;
    font-weight: 400;
    font-size: 1em;
    @include colors($darkest-primary-color, $primary-font-color);

    &:hover {
        @include colors($primary-color, $secondary-font-color); 
        font-weight: 700;
    }
}

.show {
    display:none;
}
  
.social_container {
    display: block;
    margin-left: 0%;
    width: 18%;
}

/* IDs */

#about{
    background: $dark-primary-color;

    .card-text-alt{
        background-color: $transparent-primary-color;
    }

    h3{
        color: $darkest-primary-color;
    }

    a{
        background-color: $darker-primary-color;

        &:hover{
            background-color: $lighter-primary-color;
            color: $darkest-primary-color;
            font-weight: 700
        }
    }
}
  
#dropDown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 40px;
    width: 40px;
    @include colors ($darker-secondary-color, $primary-font-color);
    border-style: none;
    border-radius: 25px;
    transition: background-color 1s;

    &:focus {
        @include colors($secondary-color, $secondary-font-color);
        @include border-values (solid, $darker-secondary-color, 2px, 5px);
        transition: background-color 1s;
        border-radius: 25px;
    }
}

#error{

    &_Number{
        color: $primary-font-color;
        @include text-glow;
        grid-column: 2/ 2;
        margin-left: auto;
        margin-right: auto;
        font-size: 300px;
        font-weight: 300;
        margin-top: 0px;
    }

    &_Reference{
        color: $primary-font-color;
        grid-column: 2/ 2;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        margin-top: 250px;
    }

    &_Message{
         color: $primary-font-color;
        grid-column: 2/ 2;
        margin-left: auto;
        margin-right: auto;
        margin-top: -400px;
    }
}
  
#hidden_link {
    text-decoration: none;
    @include colors($darker-secondary-color, $primary-font-color);
}

#home_link {
    position: relative;
    font-weight: 600;
    min-width: 200px;
    @include colors($lighter-primary-color, $primary-font-color);
    flex-grow: 4;
    align-self: auto;

    &:hover {
        @include colors($lighter-primary-color, $lighter-primary-color);
        box-shadow: 0px 0px 50px 60px $lighter-primary-color;
        font-weight: bolder;
        animation: logoGlow 0.25s ease-in;
    }
}

#merch {
    background-color: $darkest-quaternary-color;

    .card-text{
        background-color: $transparent-quaternary-color;
    }

    h3{
        color: $primary-font-color;
    }

    a{
        background-color: $darkest-quaternary-color;

        &:hover{
            background-color: $lighter-quaternary-color;
            color: $darkest-quaternary-color;
            font-weight: 700
        }
    }
}

#petition {
    background-color: $darker-tertiary-color;

    .card-text{
        background-color: $transparent-tertiary-color;
    }

    h3{
        color: $darkest-tertiary-color;
    }

    a{
        background-color: $darker-tertiary-color;

        &:hover{
            background-color: $lighter-tertiary-color;
            color: $darkest-tertiary-color;
            font-weight: 700
        }
    }
}