@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');



@mixin colors($background: $secondary-font-color, $text: $secondary-font-color) {
    background-color: $background;
    color: $text;
}

$lighter-primary-color: #AAF0B0;
$medium-primary-color: #89EC92;
$neon-primary-color: #25EE37;
$primary-color: #37BF6C;
$darker-primary-color: #426A46;
$darkest-primary-color: #171B18;
$transparent-primary-color: #44954BBF;
$darker-secondary-color: #953E2B;
$transparent-secondary-color: #BF5137BF;
$darker-tertiary-color: #37BF8E;
$darkest-tertiary-color: #17513C;
$darker-quaternary-color: #957E44;
$darkest-quaternary-color: #6A5F42;
$transparent-quaternary-color: #BF98BF;
$primary-font-color: #FFFFFF;
$secondary-font-color: #000000;

/* display */

$display-block: block;
$display-grid: grid;
$display-flex: flex;

/* mixins */

@mixin margin($value1: 20px, $value2: 30px) {
    margin-top: 20px;
    margin-bottom: 30px;
}

@mixin box-style($background: $lighter-primary-color, $shadow: $secondary-font-color, $value: 0px) {
    background-color: $background;
    box-shadow: $value $value 50px 0px $shadow;
}

@mixin margin-auto($auto: auto) {
    margin-left: $auto;
    margin-right: $auto;
}

@mixin border-values($style: none, $color: $dark-grey, $width: 2px, $radius: 2px) {
    border-style: $style;
    border-color: $color;
    border-width: $width;
    border-radius: $radius;
}

@mixin colors($background: $secondary-font-color, $text: $secondary-font-color) {
    background-color: $background;
    color: $text;
}

/* tags */

h1, h2, h3, a {
    font-family: Reddit Sans, Calibri, sans-serif;
}

p, pre, label {
    font-family: Reddit Sans, Arial, serif;
}

article {
    grid-column-start: 2;
    @include margin-auto;
    height: 100%;
}

body {
    margin: 0px;
    @include colors($darker-primary-color, $secondary-font-color);
}

footer {
    margin: 0px;
    @include colors($darkest-primary-color, $primary-font-color);

    > p{
        @include margin($value1: 8px, $value2: 0px);
        padding: 15px;
        width: 80%;
    }   
}

main {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    margin-top: 30px;
}

nav {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;

    a {
        display: block;
        flex: 1 1 100%;
        text-decoration: none;
    }

    ul {
        text-align: center;
    }

    svg {
        padding-left: 10px;
    }
}


/* classes */

.banner {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -30px;
    text-align: center;
    width: 100%;
    height: 38px;
    @include colors($darker-quaternary-color, $primary-font-color);
}

.card_link {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

.countdown_message {
    background-color: $transparent-secondary-color;
}

.footer_social {
    width: 80%;

    > ul {
        list-style-type: none;
        text-align: left;
      }
}

.hero {
    &_image {
        height: 75%;
        max-height: 1000px;
        width: 100%;
        z-index: 0;
        object-fit: cover;  
    }
        
    &_text {
        display: block;
        top: 9%;
        padding: 20px;
        margin-top: -10px;
        @include colors($transparent-primary-color, $primary-font-color);
        text-align: center;

        h2 {
            font-size: 2em;
            font-weight: 300;
            margin:0;
        }

        svg {
            width: 300px;

            image {
                width: 300px;
            }
        }
    }

    &_countdown {
        display: block;
        grid-template-columns: repeat(13, 20px 1fr) ;
        padding: 20px;
        margin-top: -30px;
        @include colors($darker-secondary-color, $primary-font-color);
        text-align: center;

        label {
            font-size: 3em;
            outline: $medium-primary-color;
            outline-width: 2px;
            text-shadow: 0 5px 10px $lighter-primary-color;
        }

        p {
            font-size: 1.5em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.nav {
    &_bar {
        display:flex;
        border-bottom: 10px;
        border-color: $medium-primary-color;
    }
      
    &_items {
        list-style-type: none;
        border-bottom: 5px;
        border-color: $medium-primary-color;
        margin: 0;
        padding-left: 0px;
        overflow: hidden;
        width: 100%;
        @include colors($darkest-primary-color, $primary-font-color);
    }

    &_link_container {
        text-align: center;
    }
      
    &_links{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.page_link {
    display: none;
    padding-top: 20px;
    padding-bottom: 19px;
    display: block;
    min-width: 200px;
    font-weight: 400;
    font-size: 1em;
    @include colors($darkest-primary-color, $primary-font-color);

    &:hover {
        @include colors($primary-color, $secondary-font-color); 
        font-weight: 700;
    }
}

.card-text {
    grid-column: 2 /3;
}

.home-panel {
    grid-column: 2 /3;
    background-color: $medium-primary-color;
    padding: 15px;
    border-radius: 20px;
}

.show {
    display:none;
}
  
.social_container {
    display: block;
    margin-left: 0%;
    width: 18%;
}

/* IDs */
  
#dropDown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 40px;
    width: 40px;
    @include colors ($darker-secondary-color, $primary-font-color);
    border-style: none;
    border-radius: 25px;
    transition: background-color 1s;

    &:focus {
        @include colors($lighter-primary-color, $secondary-font-color);
        @include border-values (solid, $medium-primary-color, 2px, 5px);
        transition: background-color 1s;
        border-radius: 25px;
      }
}
  
  #hidden_link {
    text-decoration: none;
    @include colors($darker-secondary-color, $primary-font-color);
}

#home_link {
    position: relative;
    font-weight: 600;
    min-width: 200px;
    @include colors($lighter-primary-color, $primary-font-color);
    flex-grow: 4;
    align-self: auto;

    &:hover {
        @include colors($lighter-primary-color, $lighter-primary-color);
        box-shadow: 0px 0px 50px 60px $lighter-primary-color;
        font-weight: bolder;
        animation: logoGlow 0.25s ease-in;
    }
}