@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
/* mixins */
/* tags */
h1, h2, h3, h4, a {
  font-family: Reddit Sans, Calibri, sans-serif;
}

p, pre, label, form, textarea, input {
  font-family: Reddit Sans, Arial, serif;
}

article {
  grid-column-start: 2;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #065C47;
  color: #000203;
}

footer {
  margin: 0px;
  box-shadow: 0px 0px 0px 5px #65D681;
  background-color: #012E2A;
  color: #FBFCFA;
}
footer > p {
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 15px;
  width: 80%;
}

form > div {
  margin-top: 5px;
  margin-bottom: 5px;
}
form > div > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
form button {
  padding: 5px;
  width: 65px;
  height: 35px;
  border-radius: 15px;
}

input {
  padding: 7px;
  border-radius: 15px;
  margin: 5px;
}

input[type=radio] {
  accent-color: #012E2A;
  background-color: #98ED9F;
}

main {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 1fr auto 60px;
}

nav {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
}
nav a {
  display: block;
  flex: 1 1 100%;
  text-decoration: none;
}
nav ul {
  text-align: center;
}

/* classes */
.about-panel {
  padding-top: 20px;
  grid-column: 2/3;
  grid-row: 2/2;
}
.about-panel-card {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.about-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.about-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-text p {
  text-indent: 20px;
}
.about-panel-card-text > a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-text > a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.about-panel-card-alt {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
}
.about-panel-card-alt-text {
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  color: #000203;
}
.about-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-alt-text p {
  text-indent: 20px;
}
.about-panel-card-alt-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-alt-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.about-panel-card-alt-image {
  display: block;
  width: 100%;
  border-radius: 20px;
}
.about-panel-card-full {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.about-panel-card-full-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.about-panel-card-full-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-full-text p {
  text-indent: 20px;
}
.about-panel-card-full-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-full-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.about-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 20px;
  margin-top: 7px;
}

.card_link:link {
  text-decoration: none;
}
.card_link:visited {
  text-decoration: none;
}

.contact-panel {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-top: 20px;
}
.contact-panel-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #65D681;
  border-radius: 30px;
  border: 10px solid #98ED9F;
}
.contact-panel h2 {
  margin-top: 0px;
}
.contact-panel p {
  color: black;
  padding: 10px;
  border-radius: 15px;
}

.countdown {
  background-color: #872916;
}
.countdown_message {
  grid-column: 1/4;
  grid-row: 2/2;
  background-color: #B54A35;
  padding: 5px;
}
.countdown_message h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.25em;
}
.countdown_timer {
  grid-column: 2/2;
  grid-row: 1/2;
  max-height: 100px;
  padding: 10px;
}
.countdown_timer pre {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer_social {
  width: 80%;
}
.footer_social > ul {
  list-style-type: none;
  text-align: left;
}

.hero_image {
  height: 75%;
  max-height: 1000px;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_text {
  display: block;
  top: 9%;
  padding: 20px;
  margin-top: -10px;
  background-color: rgba(1, 46, 42, 0.7490196078);
  color: #FBFCFA;
  text-align: center;
}
.hero_text h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}
.hero_text svg {
  width: 300px;
}
.hero_text svg image {
  width: 300px;
}
.hero_countdown {
  display: grid;
  z-index: 2;
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: 50% 50%;
  background-color: #872916;
  color: #FBFCFA;
  text-align: center;
  height: 210px;
}
.hero_countdown label {
  font-size: 2.25em;
  outline: #98ED9F;
  outline-width: 2px;
  text-shadow: 0 5px 10px #D1FACD;
}
.hero_countdown p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-panel {
  grid-column: 2/3;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
.home-panel-card {
  background-color: #65D681;
  margin-bottom: 15px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
}
.home-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
}
.home-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.home-panel-card-text a {
  background-color: #065C47;
  text-decoration: none;
  color: #FBFCFA;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.home-panel-card-text a:visited {
  text-decoration: none;
  color: #FBFCFA;
}
.home-panel-card-text a:hover {
  background-color: #000203;
  color: #98ED9F;
}
.home-panel-card-alt {
  background-color: #65D681;
  margin-bottom: 15px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
}
.home-panel-card-alt-image {
  display: block;
  width: 100%;
  height: auto;
  min-width: 150px;
  border-radius: 15px;
}
.home-panel-card-alt-text {
  /*margin-bottom: 15px;*/
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
}
.home-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.home-panel-card-alt-text a {
  background-color: #065C47;
  text-decoration: none;
  color: #FBFCFA;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.home-panel-card-alt-text a:visited {
  text-decoration: none;
  color: #FBFCFA;
}
.home-panel-card-alt-text a:hover {
  background-color: #000203;
  color: #98ED9F;
}
.home-panel-card-image {
  display: block;
  width: 100%;
  height: auto;
  min-width: 150px;
  border-radius: 15px;
}

.merch-panel {
  padding-top: 20px;
  grid-column: 2/3;
  grid-row: 2/2;
}
.merch-panel-card {
  background-color: #65D681;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.merch-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.merch-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.merch-panel-card-text p {
  text-indent: 20px;
}
.merch-panel-card-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.merch-panel-card-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.merch-panel-card-alt {
  background-color: #65D681;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
}
.merch-panel-card-alt-text {
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  color: #000203;
}
.merch-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.merch-panel-card-alt-text p {
  text-indent: 20px;
}
.merch-panel-card-alt-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.merch-panel-card-alt-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.merch-panel-card-alt-image {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.merch-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  margin-top: 7px;
}

.nav_bar {
  display: flex;
  border-bottom: 10px;
  border-color: #012E2A;
  box-shadow: 0px 0px 0px 5px #65D681, 0px 0px 40px 20px #011c1a;
  z-index: 3;
}
.nav_items {
  list-style-type: none;
  border-bottom: 20px;
  border-color: #012E2A;
  margin: 0;
  padding-left: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #012E2A;
  color: #FBFCFA;
}
.nav_link_container {
  text-align: center;
}
.nav_links {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav_mini {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-top: 20px;
  margin-bottom: 35px;
  z-index: 1;
}
.nav_mini_main {
  display: flex;
  background-color: #98ED9F;
  border-radius: 30px;
  padding: 10px;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}
.nav_mini_main a {
  padding: 5px;
  font-size: 0.95em;
  color: #012E2A;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
}
.nav_mini_main p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
}
.nav_mini_page {
  display: flex;
  background-color: #012E2A;
  border-radius: 0px 0px 30px 30px;
  padding: 10px;
  width: 100%;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.nav_mini_page a {
  padding: 5px;
  margin-right: 3.5px;
  margin-left: 3.5px;
  color: #FBFCFA;
  text-decoration: none;
  font-size: 0.6em;
  text-align: center;
}

.page_link {
  display: none;
  padding-top: 20px;
  padding-bottom: 19px;
  display: block;
  max-height: 60px;
  font-weight: 700;
  font-size: 1em;
  background-color: #012E2A;
  color: #FBFCFA;
}
.page_link:hover {
  background-color: #65D681;
  color: #000203;
  font-weight: 700;
}

.show {
  display: none;
}

.social_container {
  display: block;
  margin-left: 0%;
  width: 18%;
}

.store-link {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: transparent;
}
.store-link-1 {
  grid-column: 1/1;
  grid-row: 2/2;
}
.store-link-2 {
  grid-column: 2/2;
  grid-row: 2/2;
}
.store-link-3 {
  grid-column: 4/4;
  grid-row: 2/2;
}
.store-link-4 {
  grid-column: 5/5;
  grid-row: 2/2;
}
.store-header {
  text-align: center;
  width: 125px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.store-header-1 {
  grid-column: 1/3;
  grid-row: 1/1;
}
.store-header-2 {
  grid-column: 4/6;
  grid-row: 1/1;
}
.store-section {
  max-width: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 20px 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  margin-right: auto;
  margin-left: auto;
}

.watch-panel {
  grid-column: 2/3;
  grid-row: 2/2;
}
.watch-panel-card {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.watch-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.watch-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.watch-panel-card-text p {
  text-indent: 20px;
}
.watch-panel-card-text > a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.watch-panel-card-text > a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.watch-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 20px;
  margin-top: 7px;
}

/* IDs */
#acknowledgements h2, #acknowledgements h3, #acknowledgements h4, #acknowledgements p, #acknowledgements a, #acknowledgements div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#acknowledgements h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#acknowledgements_section {
  margin-top: 5px;
  margin-bottom: 5px;
}

#dropDown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  height: 40px;
  width: 40px;
  background-color: #012E2A;
  color: #FBFCFA;
  border-style: none;
  border-radius: 25px;
  transition: background-color 1s;
}
#dropDown:focus {
  background-color: #65D681;
  color: #000203;
  border-style: solid;
  border-color: #065C47;
  border-width: 2px;
  border-radius: 5px;
  transition: background-color 1s;
  border-radius: 25px;
}

#emailForm button {
  border: 3px #065C47 solid;
  background-color: #012E2A;
  color: #D1FACD;
}
#emailForm button:hover {
  background-color: #000203;
  border-color: #000203;
}
#emailForm div {
  display: grid;
  grid-template-rows: 20px 1fr;
  padding: 0px 10px 0px 10px;
}
#emailForm fieldset {
  border-style: none;
  padding: 10px;
}
#emailForm fieldset div {
  display: flow;
}
#emailForm input {
  max-width: 200px;
  border: 3px #065C47 solid;
}
#emailForm textarea {
  max-width: 200px;
  width: 100%;
  height: 125px;
  margin: 5px;
  border-radius: 15px;
  padding: 7px;
  border: 3px #065C47 solid;
}

#error_Number {
  color: #FBFCFA;
  text-shadow: 0px 0px 50px #98ED9F;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  font-size: 175px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
#error_Reference {
  color: #FBFCFA;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 20px;
}
#error_Message {
  color: #FBFCFA;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px;
}

#hidden_link {
  text-decoration: none;
  background-color: #872916;
  color: #FBFCFA;
}

#home_link {
  position: relative;
  font-weight: 600;
  min-width: 200px;
  background-color: #35B56A;
  color: #FBFCFA;
  flex-grow: 4;
  align-self: auto;
}
#home_link:hover {
  background-color: #98ED9F;
  color: #98ED9F;
  box-shadow: 0px 0px 50px 60px #98ED9F;
  font-weight: bolder;
  animation: logoGlow 0.25s ease-in;
}

#return-menu {
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/2;
  grid-row: 3/3;
}
#return-menu a {
  background-color: #98ED9F;
  margin-left: auto;
  margin-right: auto;
  color: #012E2A;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#streaming {
  background-color: #D67865;
}
#streaming a {
  background-color: #872916;
  color: #FBFCFA;
}
#streaming a:hover {
  background-color: #000203;
}/*# sourceMappingURL=base.css.map */