@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
/* mixins */
/* tags */
h1, h2, h3, h4, a {
  font-family: Reddit Sans, Calibri, sans-serif;
}

p, pre, label, form {
  font-family: Reddit Sans, Arial, serif;
}

article {
  grid-column-start: 2;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #065C47;
  color: #000203;
}

footer {
  margin: 0px;
  box-shadow: 0px 0px 0px 5px #65D681;
  background-color: #012E2A;
  color: #FBFCFA;
}
footer > p {
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 15px;
  width: 80%;
}

main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr auto 60px;
}

nav {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
}
nav a {
  display: block;
  flex: 1 1 100%;
  text-decoration: none;
}
nav ul {
  text-align: center;
}

/* classes */
.about-panel {
  grid-column: 2/3;
  grid-row: 2/2;
}
.about-panel-card {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.about-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.about-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-text p {
  text-indent: 20px;
}
.about-panel-card-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.about-panel-card-alt {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
}
.about-panel-card-alt-text {
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  color: #000203;
}
.about-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-alt-text p {
  text-indent: 20px;
}
.about-panel-card-alt-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-alt-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.about-panel-card-alt-image {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.about-panel-card-full {
  background-color: #65D681;
  margin-bottom: 40px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.about-panel-card-full-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.about-panel-card-full-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-full-text p {
  text-indent: 20px;
}
.about-panel-card-full-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-full-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.about-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 15px;
  margin-top: 7px;
}

.card_link:link {
  text-decoration: none;
}
.card_link:visited {
  text-decoration: none;
}

.contact-panel {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-top: 20px;
  padding: 20px;
  background-color: #65D681;
  border-radius: 30px;
}
.contact-panel .message_form h2 {
  margin-top: 0px;
}

.countdown {
  background-color: #872916;
}
.countdown_message {
  grid-column: 1/4;
  grid-row: 2/2;
  background-color: #B54A35;
  padding: 5px;
}
.countdown_message h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.25em;
}
.countdown_timer {
  grid-column: 2/2;
  grid-row: 1/2;
  max-height: 100px;
  padding: 10px;
}
.countdown_timer pre {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer_social {
  width: 80%;
}
.footer_social > ul {
  list-style-type: none;
  text-align: left;
}

.hero_image {
  height: 75%;
  max-height: 1000px;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_text {
  display: block;
  top: 9%;
  padding: 20px;
  margin-top: -10px;
  background-color: rgba(1, 46, 42, 0.7490196078);
  color: #FBFCFA;
  text-align: center;
}
.hero_text h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}
.hero_text svg {
  width: 300px;
}
.hero_text svg image {
  width: 300px;
}
.hero_countdown {
  display: grid;
  z-index: 2;
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: 50% 50%;
  background-color: #872916;
  color: #FBFCFA;
  text-align: center;
  height: 210px;
}
.hero_countdown label {
  font-size: 2.25em;
  outline: #98ED9F;
  outline-width: 2px;
  text-shadow: 0 5px 10px #D1FACD;
}
.hero_countdown p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-panel {
  grid-column: 2/3;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
.home-panel-card {
  background-color: #65D681;
  margin-bottom: 15px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
}
.home-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
}
.home-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.home-panel-card-text a {
  background-color: #065C47;
  text-decoration: none;
  color: #FBFCFA;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.home-panel-card-text a:visited {
  text-decoration: none;
  color: #FBFCFA;
}
.home-panel-card-text a:hover {
  background-color: #000203;
  color: #98ED9F;
}
.home-panel-card-alt {
  background-color: #65D681;
  margin-bottom: 15px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
}
.home-panel-card-alt-image {
  display: block;
  width: 100%;
  height: auto;
  min-width: 150px;
  border-radius: 15px;
}
.home-panel-card-alt-text {
  /*margin-bottom: 15px;*/
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
}
.home-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.home-panel-card-alt-text a {
  background-color: #065C47;
  text-decoration: none;
  color: #FBFCFA;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.home-panel-card-alt-text a:visited {
  text-decoration: none;
  color: #FBFCFA;
}
.home-panel-card-alt-text a:hover {
  background-color: #000203;
  color: #98ED9F;
}
.home-panel-card-image {
  display: block;
  width: 100%;
  height: auto;
  min-width: 150px;
  border-radius: 15px;
}

.merch-panel {
  grid-column: 2/3;
  grid-row: 2/2;
}
.merch-panel-card {
  background-color: #65D681;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.merch-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #000203;
}
.merch-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.merch-panel-card-text p {
  text-indent: 20px;
}
.merch-panel-card-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.merch-panel-card-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.merch-panel-card-alt {
  background-color: #65D681;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #98ED9F;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #D1FACD;
  overflow: hidden;
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
}
.merch-panel-card-alt-text {
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  color: #000203;
}
.merch-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.merch-panel-card-alt-text p {
  text-indent: 20px;
}
.merch-panel-card-alt-text a {
  text-decoration: none;
  color: #D1FACD;
  background-color: #065C47;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.merch-panel-card-alt-text a:visited {
  text-decoration: none;
  color: #D1FACD;
}
.merch-panel-card-alt-image {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.merch-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  margin-top: 7px;
}

.nav_bar {
  display: flex;
  border-bottom: 10px;
  border-color: #012E2A;
  box-shadow: 0px 0px 0px 5px #65D681;
  z-index: 3;
}
.nav_items {
  list-style-type: none;
  border-bottom: 20px;
  border-color: #012E2A;
  margin: 0;
  padding-left: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #012E2A;
  color: #FBFCFA;
}
.nav_link_container {
  text-align: center;
}
.nav_links {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav_mini {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-top: 20px;
  margin-bottom: 35px;
  z-index: 1;
}
.nav_mini_main {
  display: flex;
  background-color: #98ED9F;
  border-radius: 15px;
  padding: 10px;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}
.nav_mini_main a {
  padding: 5px;
  font-size: 0.95em;
  color: #012E2A;
  text-decoration: none;
  text-align: center;
}
.nav_mini_main p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
}
.nav_mini_page {
  display: flex;
  background-color: #012E2A;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  width: 100%;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.nav_mini_page a {
  padding: 5px;
  margin-right: 3.5px;
  margin-left: 3.5px;
  color: #FBFCFA;
  text-decoration: none;
  font-size: 0.75em;
  text-align: center;
}

.page_link {
  display: none;
  padding-top: 20px;
  padding-bottom: 19px;
  display: block;
  max-height: 60px;
  font-weight: 400;
  font-size: 1em;
  background-color: #012E2A;
  color: #FBFCFA;
}
.page_link:hover {
  background-color: #65D681;
  color: #000203;
  font-weight: 700;
}

.show {
  display: none;
}

.social_container {
  display: block;
  margin-left: 0%;
  width: 18%;
}

.store_link {
  padding-top: 30px !important;
  background-color: transparent !important;
}

/* IDs */
#dropDown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  height: 40px;
  width: 40px;
  background-color: #012E2A;
  color: #FBFCFA;
  border-style: none;
  border-radius: 25px;
  transition: background-color 1s;
}
#dropDown:focus {
  background-color: #65D681;
  color: #000203;
  border-style: solid;
  border-color: #065C47;
  border-width: 2px;
  border-radius: 5px;
  transition: background-color 1s;
  border-radius: 25px;
}

#error_Number {
  color: #FBFCFA;
  text-shadow: 0px 0px 50px #98ED9F;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  font-size: 175px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
#error_Reference {
  color: #FBFCFA;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 20px;
}
#error_Message {
  color: #FBFCFA;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px;
}

#hidden_link {
  text-decoration: none;
  background-color: #872916;
  color: #FBFCFA;
}

#home_link {
  position: relative;
  font-weight: 600;
  min-width: 200px;
  background-color: #35B56A;
  color: #FBFCFA;
  flex-grow: 4;
  align-self: auto;
}
#home_link:hover {
  background-color: #98ED9F;
  color: #98ED9F;
  box-shadow: 0px 0px 50px 60px #98ED9F;
  font-weight: bolder;
  animation: logoGlow 0.25s ease-in;
}

#return-menu {
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/2;
  grid-row: 3/3;
}
#return-menu a {
  background-color: #98ED9F;
  margin-left: auto;
  margin-right: auto;
  color: #012E2A;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#streaming {
  background-color: #D67865;
}
#streaming a {
  background-color: #872916;
  color: #FBFCFA;
}
#streaming a:hover {
  background-color: #000203;
}

@media screen and (min-width: 45em) {
  footer {
    display: flex;
    max-height: 90px;
  }
  footer > p {
    width: 60%;
    padding: 10px;
    padding-top: 0px;
  }
  main {
    height: 100%;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 1fr auto 1fr;
  }
  nav {
    transition: top 0.3s;
  }
  /*Classes*/
  .about-panel {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr 20px 1fr;
  }
  .about-panel .nav_link_container {
    float: left;
    margin-left: 0%;
    width: 15%;
  }
  .about-panel .nav_mini_main {
    max-width: 475px;
  }
  .about-panel .nav_mini_main a {
    font-size: 1.125em;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
  }
  .about-panel .nav_mini_main a:hover {
    text-decoration: underline;
  }
  .about-panel .nav_mini_page {
    max-width: 421px;
  }
  .about-panel .nav_mini_page a {
    font-size: 1em;
  }
  .about-panel .nav_mini_page a:hover {
    text-decoration: underline;
  }
  .about-panel-card {
    margin-bottom: 0px;
  }
  .about-panel-card-text a:hover {
    background-color: #000203;
    color: #D1FACD;
    box-shadow: 0px 0px 50px 2px #98ED9F;
  }
  .about-panel-card-text h3 {
    font-size: 1.65em;
  }
  .about-panel-card-text p {
    margin-bottom: 25px;
  }
  .about-panel-card-alt {
    margin-bottom: 0px;
  }
  .about-panel-card-alt-text a:hover {
    background-color: #000203;
    color: #D1FACD;
    box-shadow: 0px 0px 50px 2px #98ED9F;
  }
  .about-panel-card-alt-text h3 {
    font-size: 1.65em;
  }
  .about-panel-card-alt-text p {
    margin-bottom: 25px;
  }
  .about-panel-card-full {
    grid-template-rows: none;
    grid-template-columns: 1fr auto;
  }
  .banner {
    padding: 10px;
    margin-top: -35px;
    max-width: 97%;
    height: 16px;
  }
  .countdown_message {
    grid-column: 3/5;
    grid-row: 1/4;
    margin-top: auto;
    margin-bottom: auto;
    height: 94%;
  }
  .countdown_message h2 {
    margin-top: 40px;
  }
  .countdown_timer {
    grid-column: 1/3;
    grid-row: 1/4;
    margin-top: auto;
    margin-bottom: auto;
  }
  .footer_social {
    text-align: right;
    width: 40%;
    margin-bottom: 9px;
    padding: 15px;
  }
  .hero {
    overflow: hidden;
    position: relative;
  }
  .hero_text {
    position: absolute;
    margin-right: auto;
    left: 0;
    min-width: 325px;
    width: 60%;
    max-width: 550px;
    padding: 125px 0;
    margin-bottom: 20px;
  }
  .hero_text svg {
    width: 400px;
  }
  .hero_text svg image {
    width: 400px;
  }
  .hero_image {
    max-height: 725px;
  }
  .hero_countdown {
    z-index: 2;
    min-height: 125px;
    max-height: 150px;
    grid-column: 1/8;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: 50% 10% 40%;
    min-width: 325px;
    margin-top: -4px;
    padding: 0px;
  }
  .hero_countdown p {
    font-size: 1em;
  }
  .home-panel {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr 20px 1fr;
  }
  .home-panel-card {
    margin-bottom: 0px;
    height: auto;
    max-width: 1190px;
  }
  .home-panel-card-text {
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    padding-bottom: 25px;
  }
  .home-panel-card-text h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .home-panel-card-text a {
    width: 100%;
    padding: 15px;
  }
  .home-panel-card-text p {
    margin-bottom: 30px;
  }
  .home-panel-card-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 725px;
    min-width: 310px;
    justify-content: right;
    border-radius: 15px;
  }
  .merch-panel {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 184px 1fr 20px 1fr 20px 1fr;
  }
  .merch-panel-card {
    margin-bottom: 0px;
  }
  .merch-panel-card-alt {
    margin-bottom: 0px;
  }
  .merch-panel .nav_link_container {
    float: left;
    margin-left: 0%;
    width: 20%;
  }
  .merch-panel .nav_mini_main {
    max-width: 798px;
  }
  .merch-panel .nav_mini_main a {
    font-size: 1.125em;
    margin-right: 0.25px;
    margin-left: 0.25px;
    padding: 10px;
  }
  .merch-panel .nav_mini_main a:hover {
    text-decoration: underline;
  }
  .merch-panel .nav_mini_page {
    max-width: 502px;
  }
  .merch-panel .nav_mini_page a {
    font-size: 1em;
  }
  .merch-panel .nav_mini_page a:hover {
    text-decoration: underline;
  }
  .merch-panel-card-text a:hover {
    background-color: #000203;
    color: #D1FACD;
    box-shadow: 0px 0px 50px 2px #98ED9F;
  }
  .merch-panel-card-text h3 {
    font-size: 1.65em;
  }
  .merch-panel-card-text p {
    margin-bottom: 25px;
  }
  .merch-panel-card-alt-text a:hover {
    background-color: #000203;
    color: #D1FACD;
    box-shadow: 0px 0px 50px 2px #98ED9F;
  }
  .merch-panel-card-alt-text h3 {
    font-size: 1.65em;
  }
  .merch-panel-card-alt-text p {
    margin-bottom: 25px;
  }
  .nav_link_container {
    float: left;
    margin-left: 0%;
    width: 20%;
  }
  .nav_mini_main {
    max-width: 798px;
  }
  .nav_mini_main a {
    font-size: 1.125em;
    margin-right: 0.25px;
    margin-left: 0.25px;
    padding: 10px;
  }
  .nav_mini_main a:hover {
    text-decoration: underline;
  }
  .nav_mini_page {
    max-width: 502px;
  }
  .nav_mini_page a {
    font-size: 1em;
  }
  .nav_mini_page a:hover {
    text-decoration: underline;
  }
  .page_link {
    display: block;
    width: 100%;
    max-width: 175px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 9px;
    border-radius: 20px;
  }
  .position-1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .position-1-about {
    grid-column: 1/4;
    grid-row: 1/1;
  }
  .position-2 {
    grid-column: 3/3;
    grid-row: 1/1;
  }
  .position-2-about {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .position-2-watch {
    grid-column: 1/4;
    grid-row: 2/2;
  }
  .position-3 {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .position-3-about {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  .position-4-about {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .position-5-about {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  .position-6-about {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  .position-7-about {
    grid-column: 3/3;
    grid-row: 6/6;
  }
  .store_link:hover {
    background-color: #98ED9F !important;
  }
  @keyframes glowAnimation {
    0% {
      box-shadow: 10px 10px 50px rgba(127, 204, 112, 0);
    }
    25% {
      box-shadow: 10px 10px 50px rgba(112, 204, 152, 0.441);
    }
    50% {
      box-shadow: 10px 10px 50px rgb(113, 204, 204);
    }
  }
  @keyframes logoGlow {
    0% {
      background-color: #98ED9F;
      box-shadow: 0px 0px 50px 0px #98ED9F;
    }
    30% {
      background-color: #98ED9F;
      box-shadow: 0px 0px 50px 60px #98ED9F;
    }
    60% {
      background-color: #98ED9F;
      box-shadow: 0px 0px 50px 60px #98ED9F;
    }
  }
  @keyframes zoomCard {
    0% {
      width: 100%;
      max-width: 550px;
      height: 100%;
      max-height: 190px;
      z-index: 2;
    }
    50% {
      width: 100%;
      max-width: 650px;
      height: 100%;
      max-height: 250px;
      z-index: 2;
    }
  }
  /* IDs*/
  #dropDown {
    display: none;
  }
  #error_Number {
    font-size: 300px;
  }
  #hero_single {
    top: 20%;
    margin-top: 28.5px;
  }
  #home_link {
    border-radius: 0px 60px 0px 0px;
  }
  #petition > picture {
    margin-top: 132px;
  }
  #return-menu {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  #return-menu a:hover {
    color: #D1FACD;
    background-color: #000203;
    box-shadow: 0px 0px 50px 5px #98ED9F;
  }
}
@media screen and (min-width: 55em) {
  .hero_text {
    position: absolute;
    margin-right: auto;
    left: 0;
    min-width: 325px;
    width: 60%;
    max-width: 550px;
    padding: 200px 0;
    margin-bottom: 20px;
  }
  .nav_link_container {
    width: 20%;
  }
}
@media screen and (min-width: 70em) {
  main {
    grid-template-columns: 20px 1fr 20px;
  }
  .about-panel {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr;
  }
  .card-text h3 {
    font-size: 2em;
  }
  .card-text-alt h3 {
    font-size: 2em;
  }
  .hero_text {
    position: absolute;
    margin-right: auto;
    left: 0;
    min-width: 325px;
    width: 60%;
    max-width: 550px;
    padding: 250px 0;
    margin-bottom: 20px;
  }
  .hero_countdown p {
    font-size: 1.5em;
  }
  .hero_countdown label {
    font-size: 3em;
  }
  .home-panel {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr;
  }
  .merch-panel {
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 184px 1fr 20px 1fr;
  }
  .position-1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .position-1-about {
    grid-column: 1/6;
    grid-row: 1/1;
  }
  .position-2 {
    grid-column: 3/3;
    grid-row: 1/1;
  }
  .position-2-about {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .position-2-watch {
    grid-column: 1/4;
    grid-row: 2/2;
  }
  .position-3 {
    grid-column: 5/5;
    grid-row: 1/1;
  }
  .position-3-about {
    grid-column: 3/3;
    grid-row: 2/2;
  }
  .position-4-about {
    grid-column: 5/5;
    grid-row: 2/2;
  }
  .position-5-about {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .position-6-about {
    grid-column: 3/3;
    grid-row: 4/4;
  }
  .position-7-about {
    grid-column: 5/5;
    grid-row: 4/4;
  }
}
@media screen and (min-width: 80em) {
  .home-panel {
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 85em) {
  .merch-panel-card-alt-image {
    border-radius: 15px;
  }
  .merch-panel-card-image {
    border-radius: 15px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 95em) {
  .hero_text {
    top: 9%;
  }
  .hero_countdown {
    top: 55%;
  }
  .hero_countdown_message h2 {
    font-size: 25px;
  }
  #hero_single {
    top: 30%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 102em) {
  .about-panel-card-alt-text p {
    font-size: 1.125em;
  }
  .about-panel-card-text p {
    font-size: 1.125em;
  }
  .merch-panel-card-alt-text p {
    font-size: 1.125em;
  }
  .merch-panel-card-text p {
    font-size: 1.125em;
  }
}/*# sourceMappingURL=larger.css.map */