@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");
/* mixins */
/* tags */
h1, h2, h3, a {
  font-family: Reddit Sans, Calibri, sans-serif;
}

p, pre, label {
  font-family: Reddit Sans, Arial, serif;
}

article {
  grid-column-start: 2;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #426A46;
  color: #000000;
}

footer {
  margin: 0px;
  background-color: #171B18;
  color: #FFFFFF;
}
footer > p {
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 15px;
  width: 80%;
}

main {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr auto 60px;
}

nav {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
}
nav a {
  display: block;
  flex: 1 1 100%;
  text-decoration: none;
}
nav ul {
  text-align: center;
}

/* classes */
.about-panel {
  grid-column: 2/3;
  grid-row: 2/2;
}
.about-panel-card {
  background-color: #438a49;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #89EC92;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #25EE37;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.about-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #FFFFFF;
}
.about-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-text p {
  text-indent: 20px;
}
.about-panel-card-text a {
  text-decoration: none;
  color: white;
  background-color: #334134;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-text a:visited {
  text-decoration: none;
  color: white;
}
.about-panel-card-alt {
  background-color: #438a49;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #89EC92;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #25EE37;
  overflow: hidden;
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
}
.about-panel-card-alt-text {
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  color: #FFFFFF;
}
.about-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.about-panel-card-alt-text p {
  text-indent: 20px;
}
.about-panel-card-alt-text a {
  text-decoration: none;
  color: white;
  background-color: #334134;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.about-panel-card-alt-text a:visited {
  text-decoration: none;
  color: white;
}
.about-panel-card-alt-image {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.about-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  margin-top: 7px;
}

.banner {
  grid-column: 2/span 3;
  grid-row: 1/span 1;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -30px;
  text-align: center;
  width: 100%;
  height: 38px;
  background-color: #957E44;
  color: #FFFFFF;
}

.card_link:link {
  text-decoration: none;
}
.card_link:visited {
  text-decoration: none;
}

.countdown {
  background-color: #953E2B;
}
.countdown_message {
  grid-column: 1/4;
  grid-row: 2/2;
  background-color: rgba(191, 81, 55, 0.7490196078);
  min-height: 85px;
  margin-top: -30px;
  padding: 5px;
}
.countdown_message h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.25em;
}
.countdown_timer {
  grid-column: 2/2;
  grid-row: 1/2;
  max-height: 200px;
  padding: 10px;
}
.countdown_timer pre {
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer_social {
  width: 80%;
}
.footer_social > ul {
  list-style-type: none;
  text-align: left;
}

.hero_image {
  height: 75%;
  max-height: 1000px;
  width: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_text {
  display: block;
  top: 9%;
  padding: 20px;
  margin-top: -10px;
  background-color: rgba(68, 149, 75, 0.7490196078);
  color: #FFFFFF;
  text-align: center;
}
.hero_text h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}
.hero_text svg {
  width: 300px;
}
.hero_text svg image {
  width: 300px;
}
.hero_countdown {
  display: grid;
  z-index: 2;
  grid-column: 1/4;
  grid-row: 1/2;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: 70% 30%;
  background-color: #953E2B;
  color: #FFFFFF;
  text-align: center;
  height: 210px;
}
.hero_countdown label {
  font-size: 2.25em;
  outline: #89EC92;
  outline-width: 2px;
  text-shadow: 0 5px 10px #AAF0B0;
}
.hero_countdown p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.home-panel {
  grid-column: 2/3;
  padding: 20px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}
.home-panel-card {
  margin-bottom: 15px;
  border-radius: 30px;
  border-style: solid;
  border-color: #89EC92;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #25EE37;
  overflow: hidden;
}
.home-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
}
.home-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.home-panel-card-text a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.home-panel-card-text a:visited {
  text-decoration: none;
  color: white;
}
.home-panel-card-alt {
  margin-bottom: 15px;
  border-radius: 30px;
  border-style: solid;
  border-color: #89EC92;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #25EE37;
  overflow: hidden;
}
.home-panel-card-alt-image {
  display: block;
  width: 100%;
  height: auto;
  min-width: 150px;
  border-radius: 15px 15px 0px 0px;
}
.home-panel-card-alt-text {
  /*margin-bottom: 15px;*/
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
}
.home-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
}
.home-panel-card-alt-text a {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.home-panel-card-alt-text a:visited {
  text-decoration: none;
  color: white;
}
.home-panel-card-image {
  display: block;
  width: 100%;
  height: auto;
  min-width: 150px;
  border-radius: 0px 0px 15px 15px;
}

.merch-panel {
  grid-column: 2/3;
  grid-row: 2/2;
}
.merch-panel-card {
  background-color: #438a49;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #89EC92;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #25EE37;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
}
.merch-panel-card-text {
  padding: 15px;
  min-width: 215px;
  border-radius: 15px 15px 0px 0px;
  color: #FFFFFF;
}
.merch-panel-card-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.merch-panel-card-text p {
  text-indent: 20px;
}
.merch-panel-card-text a {
  text-decoration: none;
  color: white;
  background-color: #334134;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.merch-panel-card-text a:visited {
  text-decoration: none;
  color: white;
}
.merch-panel-card-alt {
  background-color: #438a49;
  margin-bottom: 50px;
  border-radius: 30px;
  border-style: solid;
  border-color: #89EC92;
  border-width: 10px;
  box-shadow: 0px 0px 50px 15px #25EE37;
  overflow: hidden;
  align-items: start;
  display: grid;
  grid-template-rows: auto 1fr;
}
.merch-panel-card-alt-text {
  padding: 15px;
  min-width: 215px;
  justify-content: right;
  border-radius: 0px 0px 15px 15px;
  color: #FFFFFF;
}
.merch-panel-card-alt-text h3 {
  font-size: 1.25em;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}
.merch-panel-card-alt-text p {
  text-indent: 20px;
}
.merch-panel-card-alt-text a {
  text-decoration: none;
  color: white;
  background-color: #334134;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.merch-panel-card-alt-text a:visited {
  text-decoration: none;
  color: white;
}
.merch-panel-card-alt-image {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.merch-panel-card-image {
  display: block;
  width: 100%;
  border-radius: 0px 0px 15px 15px;
  margin-top: 7px;
}

.nav_bar {
  display: flex;
  border-bottom: 10px;
  border-color: #89EC92;
  z-index: 3;
}
.nav_items {
  list-style-type: none;
  border-bottom: 20px;
  border-color: #89EC92;
  margin: 0;
  padding-left: 0px;
  overflow: hidden;
  width: 100%;
  background-color: #171B18;
  color: #FFFFFF;
}
.nav_link_container {
  text-align: center;
}
.nav_links {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav_mini {
  grid-column: 2/3;
  grid-row: 2/2;
  margin-top: 20px;
  margin-bottom: 35px;
}
.nav_mini_main {
  display: flex;
  background-color: #AAF0B0;
  border-radius: 15px;
  padding: 10px;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}
.nav_mini_main a {
  padding: 5px;
  font-size: 0.95em;
  color: #171B18;
  text-decoration: none;
  text-align: center;
}
.nav_mini_main p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
}
.nav_mini_page {
  display: flex;
  background-color: #953E2B;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  width: 100%;
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.nav_mini_page a {
  padding: 5px;
  margin-right: 3.5px;
  margin-left: 3.5px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.75em;
  text-align: center;
}

.page_link {
  display: none;
  padding-top: 20px;
  padding-bottom: 19px;
  display: block;
  max-height: 60px;
  font-weight: 400;
  font-size: 1em;
  background-color: #171B18;
  color: #FFFFFF;
}
.page_link:hover {
  background-color: #37BF6C;
  color: #000000;
  font-weight: 700;
}

.show {
  display: none;
}

.social_container {
  display: block;
  margin-left: 0%;
  width: 18%;
}

/* IDs */
#about {
  background: #426A46;
}
#about .home-panel-card-alt-text {
  background-color: #438a49;
}
#about .home-panel-card-alt-text h3 {
  color: #171B18;
}
#about .home-panel-card-alt-text a {
  background-color: #334134;
}
#about .home-panel-card-alt-text a:hover {
  background-color: #AAF0B0;
  color: #171B18;
  font-weight: 700;
}

#dropDown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  height: 40px;
  width: 40px;
  background-color: #953E2B;
  color: #FFFFFF;
  border-style: none;
  border-radius: 25px;
  transition: background-color 1s;
}
#dropDown:focus {
  background-color: #CF573C;
  color: #000000;
  border-style: solid;
  border-color: #953E2B;
  border-width: 2px;
  border-radius: 5px;
  transition: background-color 1s;
  border-radius: 25px;
}

#error_Number {
  color: #FFFFFF;
  text-shadow: 0px 0px 50px #25EE37;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  font-size: 300px;
  font-weight: 300;
  margin-top: 0px;
}
#error_Reference {
  color: #FFFFFF;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 250px;
}
#error_Message {
  color: #FFFFFF;
  grid-column: 2/2;
  margin-left: auto;
  margin-right: auto;
  margin-top: -400px;
}

#hidden_link {
  text-decoration: none;
  background-color: #953E2B;
  color: #FFFFFF;
}

#home_link {
  position: relative;
  font-weight: 600;
  min-width: 200px;
  background-color: #89EC92;
  color: #FFFFFF;
  flex-grow: 4;
  align-self: auto;
}
#home_link:hover {
  background-color: #AAF0B0;
  color: #AAF0B0;
  box-shadow: 0px 0px 50px 60px #AAF0B0;
  font-weight: bolder;
  animation: logoGlow 0.25s ease-in;
}

#merch {
  background-color: #957E44;
}
#merch .home-panel-card-text {
  background-color: #a98a39;
}
#merch h3 {
  color: #FFFFFF;
}
#merch a {
  background-color: #6A5F42;
}
#merch a:hover {
  background-color: #FFF3D6;
  color: #6A5F42;
  font-weight: 700;
}

#petition {
  background-color: #37BF8E;
}
#petition .home-panel-card-text {
  background-color: #2ea379;
}
#petition h3 {
  color: #0B261D;
}
#petition a {
  background-color: #17513C;
}
#petition a:hover {
  background-color: #85facf;
  color: #0B261D;
  font-weight: 700;
}

#return-menu {
  grid-column: 2/2;
  grid-row: 3/3;
}
#return-menu a {
  background-color: #AAF0B0;
  color: #171B18;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: 35%;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 45em) {
  footer {
    display: flex;
    max-height: 90px;
  }
  footer > p {
    width: 60%;
    padding: 10px;
    padding-top: 0px;
  }
  main {
    height: 100%;
    grid-template-columns: 20% 60% 20%;
  }
  nav {
    transition: top 0.3s;
  }
  /*Classes*/
  .about-panel-card-text a:hover {
    background-color: #AAF0B0;
    color: #171B18;
    box-shadow: 0px 0px 50px 2px #25EE37;
  }
  .about-panel-card-text h3 {
    font-size: 1.65em;
  }
  .about-panel-card-text p {
    margin-bottom: 25px;
  }
  .about-panel-card-alt-text a:hover {
    background-color: #AAF0B0;
    color: #171B18;
    box-shadow: 0px 0px 50px 2px #25EE37;
  }
  .about-panel-card-alt-text h3 {
    font-size: 1.65em;
  }
  .about-panel-card-alt-text p {
    margin-bottom: 25px;
  }
  .banner {
    padding: 10px;
    margin-top: -35px;
    max-width: 97%;
    height: 16px;
  }
  .countdown_message {
    grid-column: 3/5;
    grid-row: 1/4;
    margin-top: auto;
    margin-bottom: auto;
    height: 94%;
  }
  .countdown_message h2 {
    margin-top: 40px;
  }
  .countdown_timer {
    grid-column: 1/3;
    grid-row: 1/4;
    margin-top: auto;
    margin-bottom: auto;
  }
  .footer_social {
    text-align: right;
    width: 40%;
    margin-bottom: 9px;
    padding: 15px;
  }
  .hero {
    overflow: hidden;
    position: relative;
  }
  .hero_text {
    position: absolute;
    margin-right: auto;
    left: 0;
    min-width: 325px;
    width: 60%;
    max-width: 550px;
    padding: 125px 0;
    margin-bottom: 20px;
  }
  .hero_text svg {
    width: 400px;
  }
  .hero_text svg image {
    width: 400px;
  }
  .hero_image {
    max-height: 725px;
  }
  .hero_countdown {
    z-index: 2;
    min-height: 125px;
    max-height: 150px;
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 10px auto auto 10px;
    grid-template-rows: 50% 10% 40%;
    min-width: 325px;
    margin-top: -40px;
    padding: 0px;
  }
  .hero_countdown label {
    font-size: 3em;
  }
  .hero_countdown p {
    font-size: 1em;
  }
  .home-panel {
    min-height: 635px;
  }
  .home-panel-card {
    display: flex;
    margin-bottom: 30px;
    height: auto;
    max-width: 1190px;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .home-panel-card-text {
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    padding-bottom: 25px;
  }
  .home-panel-card-text h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .home-panel-card-text a {
    width: 100%;
    padding: 15px;
  }
  .home-panel-card-text p {
    margin-bottom: 30px;
  }
  .home-panel-card-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 725px;
    min-width: 310px;
    justify-content: right;
    border-radius: 0px 15px 15px 0px;
  }
  .home-panel-card-alt {
    display: flex;
    margin-bottom: 30px;
    height: auto;
    max-width: 1190px;
    align-items: flex-start;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .home-panel-card-alt-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 725px;
    min-width: 310px;
    justify-content: left;
    border-radius: 15px 0px 0px 15px;
  }
  .home-panel-card-alt-text {
    padding: 15px;
    padding-bottom: 25px;
    grid-column: 2/3;
    align-items: end;
    border-radius: 0px 15px 15px 0px;
  }
  .home-panel-card-alt-text h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .home-panel-card-alt-text a {
    width: 100%;
    padding: 15px;
  }
  .home-panel-card-alt-text p {
    margin-bottom: 30px;
  }
  .merch-panel-card-text a:hover {
    background-color: #AAF0B0;
    color: #171B18;
    box-shadow: 0px 0px 50px 2px #25EE37;
  }
  .merch-panel-card-text h3 {
    font-size: 1.65em;
  }
  .merch-panel-card-text p {
    margin-bottom: 25px;
  }
  .merch-panel-card-alt-text a:hover {
    background-color: #AAF0B0;
    color: #171B18;
    box-shadow: 0px 0px 50px 2px #25EE37;
  }
  .merch-panel-card-alt-text h3 {
    font-size: 1.65em;
  }
  .merch-panel-card-alt-text p {
    margin-bottom: 25px;
  }
  .nav_link_container {
    float: left;
    margin-left: 0%;
    width: 20%;
  }
  .nav_mini_main {
    max-width: 798px;
  }
  .nav_mini_main a {
    font-size: 1.125em;
    margin-right: 0.25px;
    margin-left: 0.25px;
    padding: 10px;
  }
  .nav_mini_main a:hover {
    text-decoration: underline;
  }
  .nav_mini_page {
    max-width: 502px;
  }
  .nav_mini_page a {
    font-size: 1em;
  }
  .nav_mini_page a:hover {
    text-decoration: underline;
  }
  .page_link {
    display: block;
  }
  @keyframes glowAnimation {
    0% {
      box-shadow: 10px 10px 50px rgba(127, 204, 112, 0);
    }
    25% {
      box-shadow: 10px 10px 50px rgba(112, 204, 152, 0.441);
    }
    50% {
      box-shadow: 10px 10px 50px rgb(113, 204, 204);
    }
  }
  @keyframes logoGlow {
    0% {
      background-color: #AAF0B0;
      box-shadow: 0px 0px 50px 0px #AAF0B0;
    }
    30% {
      background-color: #AAF0B0;
      box-shadow: 0px 0px 50px 60px #AAF0B0;
    }
    60% {
      background-color: #AAF0B0;
      box-shadow: 0px 0px 50px 60px #AAF0B0;
    }
  }
  @keyframes zoomCard {
    0% {
      width: 100%;
      max-width: 550px;
      height: 100%;
      max-height: 190px;
      z-index: 2;
    }
    50% {
      width: 100%;
      max-width: 650px;
      height: 100%;
      max-height: 250px;
      z-index: 2;
    }
  }
  /* IDs*/
  #dropDown {
    display: none;
  }
  #hero_single {
    top: 20%;
    margin-top: 28.5px;
  }
  #return-menu a {
    margin-left: 40%;
  }
  #return-menu a:hover {
    color: #FFFFFF;
    background-color: #334134;
    box-shadow: 0px 0px 50px 5px #25EE37;
  }
}
@media screen and (min-width: 55em) {
  .hero_text {
    position: absolute;
    margin-right: auto;
    left: 0;
    min-width: 325px;
    width: 60%;
    max-width: 550px;
    padding: 200px 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 70em) {
  .hero_text {
    position: absolute;
    margin-right: auto;
    left: 0;
    min-width: 325px;
    width: 60%;
    max-width: 550px;
    padding: 250px 0;
    margin-bottom: 20px;
  }
  .hero_countdown p {
    font-size: 1.5em;
  }
  .card-text h3 {
    font-size: 2em;
  }
  .card-text-alt h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 80em) {
  .home-panel {
    min-height: 1015px;
    margin-bottom: 90px;
  }
}
@media screen and (min-width: 85em) {
  .about-panel-card {
    grid-template-columns: 1fr auto;
    grid-template-rows: none;
  }
  .about-panel-card-alt {
    grid-template-columns: auto 1fr;
    grid-template-rows: none;
  }
  .about-panel-card-alt-text {
    grid-column: 2/3;
    align-items: end;
  }
  .about-panel-card-alt-image {
    width: auto;
    min-height: 150px;
    max-height: 675px;
    border-radius: 15px 0px 0px 15px;
  }
  .about-panel-card-image {
    width: auto;
    min-height: 150px;
    max-height: 675px;
    border-radius: 0px 15px 15px 0px;
    margin-top: 0px;
  }
  .merch-panel-card {
    grid-template-columns: 1fr auto;
    grid-template-rows: none;
  }
  .merch-panel-card-alt {
    grid-template-columns: auto 1fr;
    grid-template-rows: none;
  }
  .merch-panel-card-alt-text {
    grid-column: 2/3;
    align-items: end;
  }
  .merch-panel-card-alt-image {
    width: auto;
    min-height: 150px;
    max-height: 675px;
    border-radius: 15px 0px 0px 15px;
  }
  .merch-panel-card-image {
    width: auto;
    min-height: 150px;
    max-height: 675px;
    border-radius: 0px 15px 15px 0px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 95em) {
  .hero_text {
    top: 9%;
  }
  .hero_countdown {
    top: 55%;
  }
  .home-panel {
    min-height: 1125px;
  }
  #hero_single {
    top: 30%;
    margin-top: 50px;
  }
  #return-menu a {
    margin-left: 50%;
  }
}
@media screen and (min-width: 102em) {
  .about-panel-card-alt-text p {
    font-size: 1.125em;
  }
  .about-panel-card-text p {
    font-size: 1.125em;
  }
  .merch-panel-card-alt-text p {
    font-size: 1.125em;
  }
  .merch-panel-card-text p {
    font-size: 1.125em;
  }
}/*# sourceMappingURL=larger.css.map */