@use "base.scss" as base;

@mixin box-style-animated($background: base.$lighter, $shadow: base.$black, $value: 0px, $value2: 20px) {
    background-color: $background;
    box-shadow: $value $value 50px $value2 $shadow;
  }

@media screen and (min-width: 45em) {

    
  footer{
    display: flex;
  
    > p {
      width: 60%;
      padding: 10px;
      padding-top: 0px;
      }
  }
    
  main {
    grid-template-columns: 10% 1fr 10%;
  }
    
  nav{
    transition: top 0.3s;
  }
    
    
        
  /*Classes*/

  .about-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr 20px 1fr;

    .nav_link{
      &_container {
        float: left;
        margin-left: 0%;
        width: 15%;
      }
    }
    
    .nav_mini{
      &_main{
        max-width: 475px;
        
        a{
          font-size: 1.125em;
          margin-right: auto;
          margin-left: auto;
          padding: 10px;

          &:hover{
            background-color: base.$darkest;
            color: base.$white;
          }
        }
      }

      &_page{
        max-width: 421px;

        a{
          font-size: 1em;

          &:hover{
            background-color: base.$lighter;
            color: base.$darkest;
            border-radius: 20px;
            text-decoration: none;
          }
        }
      }
    }

    &-card{
      margin-bottom: 0px;

      &-text{
        & > a{
          &:hover{
            background-color: base.$black;
            color: base.$lightest;
            @include base.outer-glow (base.$lighter, 0px, 2px);
          }
        }

        h3{
          font-size: 1.65em;
        }

        p{
          margin-bottom: 25px;
        }
      }

      &-alt{
        margin-bottom: 0px;

        &-text{
          a{
            &:hover{
              background-color: base.$black;
              color: base.$lightest;
              @include base.outer-glow (base.$lighter, 0px, 2px);
            }
          }

          h3{
            font-size: 1.65em;
          }

          p{
            margin-bottom: 25px;
          }
        }
      }

      &-full{
        grid-template-rows: none;
        grid-template-columns: 1fr auto;
      }
    }
  }
    
  .banner {
    padding: 10px;
    margin-top: -35px;
    max-width: 97%;
    height: 16px;
  }

  .contact-panel{
    
    &-card{
      padding: 10px;

      div{
        textarea{
          min-width: 200px;
        }
      }
    }
  }

  .countdown{
    &_message {
      grid-template-rows: auto auto;
      grid-column: 2 /2;
      grid-row: 1;
      display: grid;
      grid-template-rows: auto auto;
      margin-top: auto;
      margin-bottom: auto;
      height: 94%;
      max-height: 100px;
      border-radius: 100px 0px 0px 0px;
      background-image: none;
      background-color: base.$medium-warning;

      h2{
        grid-row: 1 /1;
        height: 30px;
        font-size: 18px;

        &:first-of-type{
          margin-top: 10px;
          margin-bottom: 0px;
        }

        &:last-of-type{
          margin-top: 0px;
          grid-row: 2 /2;
          font-weight: 300;
          height: 30px;
        }
      }

      p{
        grid-row: 2 /2;
      }
    }

    &_timer {
      grid-column: 1 /1;
      grid-row: 1;
    }
  }
    
  .footer_social{
    text-align: right;
    width: 40%;
    margin-bottom: 9px;
    padding: 15px;
  }
  
  .hero{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;

    &_logo{
      height: 80px;
    }

    &_text{
      grid-column: 1/2;
      grid-row: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 300px;
      width: 100%;
      height: calc(100% - 65px);
      top: 0px;
      margin-top: 65px;
      padding: 0px;
      
      h2{
        font-size: 1.5em;
      }
    }

    &_image{
      grid-column: 1/3;
      grid-row: 1;
      height: 100%;
    }

    picture{
      max-height: 600px;
      grid-column: 1/3;
      grid-row: 1;
    }

    &_countdown {
      z-index: 2;
      height: 100px;
      grid-column: 1 /8;
      grid-row: 1 /2;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr;
      min-width: 325px;
      margin-top: -4px;
      padding: 0px;
      overflow: hidden;
      background-image: linear-gradient(to right, base.$dark-warning, base.$medium-warning);

      p{
        font-size: 1em;
      }

      pre{
        font-size: 1em
      }
    }
  }

  .home-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr 20px 1fr;

    &-card{
      margin-bottom: 0px;
      height: auto;
      max-width: 1190px;

      &-text{
        border-radius: 15px 0px 0px 15px;
        padding: 15px;
        padding-bottom: 25px;

        h3 {
          font-size: 1.5em;
          margin-bottom: 15px;
          padding-bottom: 15px;
        }

        a{
          width: 100%;
          padding: 15px;
        }

        p{
          margin-bottom: 30px;
        }
      }

      &-image{
        display: block;
        width: 100%;
        height: auto;
        max-width: 725px;
        min-width: 310px;
        justify-content: right;
        border-radius: 15px;
      }
    }
  }

  .merch-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 11% 1fr 20px 1fr 20px 1fr;

    &-card{
      margin-bottom: 0px;
      /*max-width: 300px;*/

      &-alt{
        margin-bottom: 0px;
      }
    }

    .nav_link{
      &_container {
        float: left;
        margin-left: 0%;
        width: 20%;
      }
    }

    .nav_mini{
      &_main{
        max-width: 798px;
        
        a{
          font-size: 1.125em;
          margin-right: 0.25px;
          margin-left: 0.25px;
          padding: 10px;

          &:hover{
            background-color: base.$darkest;
            color: base.$white;
          }
        }
      }

      &_page{
        max-width: 502px;

        a{
          font-size: 1em;

          &:hover{
            text-decoration: none;
            background-color: base.$lighter;
            color: base.$darkest;
            border-radius: 20px;
          }
        }
      }
    }

    &-card{
      &-text{
        a{
          &:hover{
            background-color: base.$black;
            color: base.$lightest;
            @include base.outer-glow (base.$lighter, 0px, 2px);
          }
        }

        h3{
          font-size: 1.65em;
        }

        p{
          margin-bottom: 25px;
        }
      }

      &-alt{
        &-text{
          a{
            &:hover{
              background-color: base.$black;
              color: base.$lightest;
              @include base.outer-glow (base.$lighter, 0px, 2px);
            }
          }

          h3{
            font-size: 1.65em;
          }

          p{
            margin-bottom: 25px;
          }
        }
      }
    }
  }
    
  .nav{
    &_link{

      &_container {
        float: left;
        margin-left: 0%;
        width: 20%;
      }
    }

    &_mini{

      &_main{
        max-width: 798px;
        
        a{
          font-size: 1.125em;
          margin-right: 0.25px;
          margin-left: 0.25px;
          padding: 10px;

          &:hover{
            background-color: base.$darkest;
            color: base.$white;
          }
        }
      }

      &_page{
        max-width: 502px;

        a{
          font-size: 1em;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
    
  .page_link {
    display: block;
    width: 100%;
    max-width: 175px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 9px;
    border-radius: 20px;
  }

  .position-{
    &1{
      grid-column: 1 /1;
      grid-row: 1 /1;

      &-about{
        grid-column: 1 /4;
        grid-row: 1 /1;
      }

      &-contact{
        grid-column: 1 /4;
        grid-row: 1 /1;
      }
    }

    &2{
      grid-column: 3 /3;
      grid-row: 1 /1;

      &-about{
        grid-column: 1 /1;
        grid-row: 2 /2;
      }

      &-contact{
        grid-column: 5 /7;
        grid-row: 1 /1;
      }

      &-watch{
        grid-column: 1 /4;
        grid-row: 2 /2;
      }
    }

    &3{
      grid-column: 1 /1;
      grid-row: 3 /3;

      &-about{
        grid-column: 3 /3;
        grid-row: 2 /2;
      }
    }

    &4{
      &-about{
        grid-column: 1 /1;
        grid-row: 4 /4;
      }
    }

    &5{
      &-about{
        grid-column: 3 /3;
        grid-row: 4 /4;
      }
    }

    &6{
      &-about{
        grid-column: 1 /1;
        grid-row: 6 /6;
      }
    }

    &7{
      &-about{
        grid-column: 3 /3;
        grid-row: 6 /6;
      }
    }
  }

  .static{
    height: 100%;
    background: 
            repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px,
            repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px 2500px;
        animation: b 0.2s infinite linear, fade 1s infinite alternate;
  }

  .store-link{
    &:hover{
      background-color: base.$lightest;

    }
  }

  .support-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr;

    .nav_link{
      &_container {
        float: left;
        margin-left: 0%;
        width: 15%;
      }
    }
    
    .nav_mini{
      &_main{
        max-width: 475px;
        
        a{
          font-size: 1.125em;
          margin-right: auto;
          margin-left: auto;
          padding: 10px;

          &:hover{
            background-color: base.$darkest;
            color: base.$white;
          }
        }
      }

      &_page{
        max-width: 421px;

        a{
          font-size: 1em;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

    &-card{
      margin-bottom: 0px;

      &-text{
        & > a{
          &:hover{
            background-color: base.$black;
            color: base.$lightest;
            @include base.outer-glow (base.$lighter, 0px, 2px);
          }
        }

        h3{
          font-size: 1.65em;
        }

        p{
          margin-bottom: 25px;
        }
      }

      &-alt{
        margin-bottom: 0px;

        &-text{
          a{
            &:hover{
              background-color: base.$black;
              color: base.$lightest;
              @include base.outer-glow (base.$lighter, 0px, 2px);
            }
          }

          h3{
            font-size: 1.65em;
          }

          p{
            margin-bottom: 25px;
          }
        }
      }

      &-full{
        grid-template-rows: none;
        grid-template-columns: 1fr auto;
      }
    }
  }

  .watch-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr;
    margin-bottom: 60px;

    .nav_link{
      &_container {
        float: left;
        margin-left: 0%;
        width: 15%;
      }
    }
    
    .nav_mini{
      &_main{
        max-width: 475px;
        
        a{
          font-size: 1.125em;
          margin-right: auto;
          margin-left: auto;
          padding: 10px;

          &:hover{
            background-color: base.$darkest;
            color: base.$white;
          }
        }
      }

      &_page{
        max-width: 421px;

        a{
          font-size: 1em;

          &:hover{
            background-color: base.$lighter;
            color: base.$darkest;
          }
        }
      }
    }

    &-card{
      margin-bottom: 0px;

      &-text{
        & > a{
          &:hover{
            background-color: base.$black;
            color: base.$lightest;
            @include base.outer-glow (base.$lighter, 0px, 2px);
          }
        }

        h3{
          font-size: 1.65em;
        }

        p{
          margin-bottom: 25px;
        }
      }
    }
  }

    
  @keyframes glowAnimation {
      
    0% {
      box-shadow: 10px 10px 50px rgba(127, 204, 112, 0);
    }
    
    25% {
      box-shadow: 10px 10px 50px rgba(112, 204, 152, 0.441);
    }
      
    50% {
      box-shadow: 10px 10px 50px rgba(113, 204, 204);
    }
  }
  
  @keyframes logoGlow {
    0% {
      @include box-style-animated(base.$lighter, base.$lighter, 0px, 0px);
    }

    30% {
      @include box-style-animated(base.$lighter, base.$lighter, 0px, 60px);
    }
  
    60% {
      @include box-style-animated(base.$lighter, base.$lighter, 0px, 60px);
    }
  }

  @keyframes zoomCard {
    0% {
      width: 100%;
      max-width: 550px;
      height: 100%;
      max-height: 190px;
      z-index: 2;
    }
    
    50% {
      width: 100%;
      max-width: 650px;
      height: 100%;
      max-height: 250px;
      z-index: 2;
    }
  }
    
    
  /* IDs*/
    
  #dropDown {
    display: none;
  }

  #emailForm{
    padding: 10px;

    div{
      textarea{
        min-width: 200px;
      }
    }
  }

  #error{
    &_Number {
      font-size: 300px;
    }
  }

  #hero_single{
    top: 20%;
    margin-top: 28.5px;
  }

  #home_link{
    border-radius: 0px 60px 0px 0px;
  }

  #petition{
    > picture{
      margin-top: 132px;
    }
  }

  #return-menu {
    &:hover {
      color: base.$lightest !important; 
      background-color: base.$lightest !important;
      @include base.outer-glow(base.$lighter, 0px, 5px);
    }
  }
}




@media screen and (min-width: 55em) {
  
  .nav_link{
    &_container {
        width: 1fr;
        margin-left: auto;
        margin-right: auto;
      }
  }

}

@media screen and (min-width: 70em) {
  main{
    grid-template-columns: 10% 1fr 10%;
  }

  .about-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr;
  }

  .card-text{
    h3{
      font-size: 2em;
    }

    &-alt{
      h3{
        font-size: 2em;
      }
    }
  }

  .contact-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 60px;
  }


  .hero{
    &_countdown{
      p{
        font-size: 1.5em;
      }

      label {
        font-size: 2.5em;
      }
    }

    &_logo {
        display: block;
        height: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;

        image{
          width: 100%;
          max-height: 100%;
        }
    }

    &_text{
      h2{
        font-size: 2em;
      }
    }
  }

  .home-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr;
  }

  .merch-panel{
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 205px 1fr 20px 1fr;
  }

  .position-{
    &1{
      grid-column: 1 /1;
      grid-row: 1 /1;

      &-about{
        grid-column: 1 /6;
        grid-row: 1 /1;
      }

      &-contact{
        grid-column: 1 /6;
        grid-row: 1 /1;
      }
    }

    &2{
      grid-column: 3 /3;
      grid-row: 1 /1;

      &-about{
        grid-column: 1 /1;
        grid-row: 2 /2;
      }

      &-contact{
        grid-column: 7 /12;
        grid-row: 1 /1
      }

      &-watch{
        grid-column: 1 /4;
        grid-row: 2 /2;
      }
    }

    &3{
      grid-column: 5 /5;
      grid-row: 1 /1;
      
      &-about{
        grid-column: 3 /3;
        grid-row: 2 /2;
      }
    }

    &4{
      &-about{
        grid-column: 5 /5;
        grid-row: 2 /2;
      }
    }

    &5{
      &-about{
        grid-column: 1 /1;
        grid-row: 4 /4;
      }
    }

    &6{
      &-about{
        grid-column: 3 /3;
        grid-row: 4 /4;
      }
    }

    &7{
      &-about{
        grid-column: 5 /5;
        grid-row: 4 /4;
      }
    }
  }

  .support-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 154px 1fr 20px 1fr;
  }

  .watch-panel{
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 154px 1fr;
  }
}

@media screen and (min-width: 80em) {
  .home-panel{
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 85em) {

  .merch-panel{
    &-card{
    
      &-alt{

        &-image{
          border-radius: 15px;
        }
      } 

      &-image{
        border-radius: 15px;
        margin-top: 0px;
      } 
    }
  }
}

@media screen and (min-width: 95em) {
  
  /*.hero_text {
    top: 9%;
  }*/

  .hero_countdown {
    /*top: 55%;*/
    &_message {
      h2{
        font-size: 25px;
      }
    }
  }

  #hero_single {
    top: 30%;
    margin-top: 50px;
  }
}

@media screen and (min-width: 102em) {
  .about-panel{
    &-card{
      &-alt{
        &-text{
          p{
            font-size: 1.125em;
          }
        }
      }
      &-text{
        p{
          font-size: 1.125em;
        }
      }
    }
  }

  .merch-panel{
    &-card{
      &-alt{
        &-text{
          p{
            font-size: 1.125em;
          }
        }
      }
      &-text{
        p{
          font-size: 1.125em;
        }
      }
    }
  }
}