<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label id="colon">  :  </label>
        <label id="months">00</label>
        <label id="colon">  :  </label>
        <label id="days">00</label>
        <label id="colon">  :  </label>
        <label id="hours">00</label>
        <label id="colon">  :  </label>
        <label id="minutes">00</label>
        <label id="colon">  :  </label>
        <label id="seconds">00</label>
        <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    </div>
    <div class="countdown_message">
        <h2>Infinity Train has been cancelled for too long</h2>
        <p>We will not stand for this</p>
    </div>
</div>
<div class="merch-panel">
    <div class="nav_mini">
        <div class="nav_mini_main">
            <p><b>Notice:</b> This site is not responsible for any sales, purchases, orders, shipping, or support. <br> The sites linked below are listed for your convenience. <br> We recommend reviewing the policies of any external site before making a purchase. User discretion is advised.</p>
        </div>
        <div class="nav_mini_page">
            <a href="#mysteryShack">TheMysteryShack</a>
            <a href="#galleryNucleus">Gallery Nucleus</a>
            <a href="#redbubble">Red Bubble</a>
            <a href="#teepublic">TeePublic</a>
            <a href="#etsy">Etsy</a>
        </div>
    </div>
    <div class="merch-panel-card" id="mysteryShack">
        <div class="merch-panel-card-text">
            <h3>TheMysteryShack</h3>
            <p>Calling all passengers! Want to show your support for Infinity Train? Look no further than TheMysteryShack! From their collection of fan-made merchandise and art, to the official Book 1 and 2 DVDs! Show your support by giving this fan run site a visit today!</p>
            <a href="https://themysteryshack.com/collections/infinity-train" target="_blank">Visit TheMysteryShack</a>
        </div>
        <picture>
            <source srcset="images/site_placeholder_image_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="merch-panel-card-image" src="images/site_placeholder_image_landscape-min.webp" alt="Placeholder Image">
        </picture>
    </div>
    <div class="merch-panel-card-alt" id="galleryNucleus">
        <picture>
            <source srcset="images/site_placeholder_image_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="merch-panel-card-alt-image" src="images/site_placeholder_image_landscape-min.webp" alt="Placeholder Image">
            <!--All images on this page must be in a 8 by 10 aspect ratio-->
        </picture>
        <div class="merch-panel-card-alt-text">
            <h3>Gallery Nucleus</h3>
            <p>Discover some amazing Infinity Train art from creator Owen Dennis and other incredibly talented artists! Visit Gallery Nucleus and explore their 2021 Exhibition! Featuring stunning pieces of art and an insightful panel recording, there’s no better way to continue your journey in the ever expanding world of Infinity Train</p>
            <a href="https://www.gallerynucleus.com/events/882" target="_blank">Visit Gallery Nucleus</a>
        </div>
    </div>
    <div class="merch-panel-card" id="redbubble">
        <div class="merch-panel-card-text">
            <h3>Redbubble</h3>
            <p>Support the creativity of fellow fans by visiting Redbubble! Journey through a wide selection of Infinity Train buttons, stickers, shirts, and more! There's something for every passenger, so be sure to give visit them today!</p>
            <a href="https://www.redbubble.com/shop/infinity+train" target="_blank">Visit Redbubble</a>
        </div>
        <picture>
            <source srcset="images/site_placeholder_image_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="merch-panel-card-image" src="images/site_placeholder_image_landscape-min.webp" alt="Placeholder Image">
            <!--All images on this page must be in a 8 by 10 aspect ratio-->
        </picture>
    </div>
    <div class="merch-panel-card-alt" id="teepublic">
        <picture>
            <source srcset="images/site_placeholder_image_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="merch-panel-card-alt-image" src="images/site_placeholder_image_landscape-min.webp" alt="Placeholder Image">
            <!--All images on this page must be in a 8 by 10 aspect ratio-->
        </picture>
        <div class="merch-panel-card-alt-text">
            <h3>TeePublic</h3>
            <p>Start your adventure across the Train in style with one of the many unique, fan-made designs from Teepublic! These cool shirts will help you show your support as you traverse through car after car. Pick up yours today!</p>
            <a href="https://www.teepublic.com/t-shirts/infinity-train" target="_blank">Visit TeePublic</a>
        </div>
    </div>
    <div class="merch-panel-card" id="etsy">
        <div class="merch-panel-card-text">
            <h3>Etsy</h3>
            <p>Want to dive deeper into the infinite supply of Infinity Train merch? Even more hand crafted, exclusive merch made by fans can be found at Etsy. Find your next collectible here!</p>
            <a href="https://www.etsy.com/market/infinity_train" target="_blank">Visit Etsy</a>
        </div>
        <picture>
            <source srcset="images/site_placeholder_image_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="merch-panel-card-image" src="images/site_placeholder_image_landscape-min.webp" alt="Placeholder Image">
            <!--All images on this page must be in a 8 by 10 aspect ratio-->
        </picture>
    </div>
    <div class="merch-panel-card-alt" id="donutHoler">
        <picture>
            <source srcset="images/site_placeholder_image_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="merch-panel-card-alt-image" src="images/site_placeholder_image_landscape-min.webp" alt="Placeholder Image">
            <!--All images on this page must be in a 8 by 10 aspect ratio-->
        </picture>
        <div class="merch-panel-card-alt-text">
            <h3>The Donut Holer</h3>
            <p>Introducing the Donut Holer, a landmark accomplishment in transformation technology! Tired of plain objects that don't remind you of dontus? Just simply apply this lifechanging device to your world and donutfy your environment! Now you too can have a truly extraordinarily unique donut for yourself! Buy your Donut Holer today!</p>
            <a href="https://www.homedepot.com/p/STZ-Pipe-Decor-1-2-in-x-12-in-Black-Steel-Pipe-Connector-362-12X12/206840593" target="_blank">Purchase a Donut Holer</a>
        </div>
    </div>
</div>
<div id="return-menu">
    <a href="#home">Back to Top</a>
</div>