<div class="hero_countdown">
    <label id="years">00</label>
    <label id="colon">  :  </label>
    <label id="months">00</label>
    <label id="colon">  :  </label>
    <label id="days">00</label>
    <label id="colon">  :  </label>
    <label id="hours">00</label>
    <label id="colon">  :  </label>
    <label id="minutes">00</label>
    <label id="colon">  :  </label>
    <label id="seconds">00</label>
    <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    <div class="countdown_message">
        <p>Infinity Train has been cancelled for too long</p>
        <p>We will not stand for this</p>
    </div>