<div class="hero_countdown">
    <label id="years">00</label>
    <label id="colon">  :  </label>
    <label id="months">00</label>
    <label id="colon">  :  </label>
    <label id="days">00</label>
    <label id="colon">  :  </label>
    <label id="hours">00</label>
    <label id="colon">  :  </label>
    <label id="minutes">00</label>
    <label id="colon">  :  </label>
    <label id="seconds">00</label>
    <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    <div class="countdown_message">
        <p>Infinity Train has been cancelled for too long</p>
        <p>We will not stand for this</p>
    </div>
</div>
<p class="banner"><b>NOTICE:</b> This site is a work in progress.
    Please excuse us at this time as we assemble this site.</p>
<div class="home-panel">
    <div class="panel-card" id="petition">
        <div class="card-text">
            <p>Want more Infinity Train? Show your support today!</p>
            <a href="https://www.change.org/p/cartoon-network-renew-infinity-train-for-books-5-8" target="_blank">Sign the Petition</a>
        </div>
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
    </div>
    <div class="panel-card" id="about">
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
        <div class="card-text">
            <p>Learn more about the series and its lore</p>
            <a href="/about">About the Show</a>
        </div>
    </div>
    <div class="panel-card" id="merch">
        <div class="card-text">
            <p>Looking for some cool Infinity Train gear? Shop the collection!</p>
            <a href="/merch">Explore Merch</a>
        </div>
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
    </div>
</div>