<div class="home-panel">
    <div class="panel-card" id="petition">
        <div class="card-text">
            <p>Want more Infinity Train? Show your support today!</p>
            <a href="https://www.change.org/p/cartoon-network-renew-infinity-train-for-books-5-8" target="_blank">Sign the Petition</a>
        </div>
        <img>
    </div>
    <div class="panel-card" id="about">
        <img>
        <div class="card-text">
            <p>Learn more about the series and its lore</p>
            <a href="/about">About the Show</a>
        </div>
    </div>
    <div class="panel-card" id="merch">
        <div class="card-text">
            <p>Looking for some cool Infinity Train gear? Shop the collection!</p>
            <a href="/merch">Explore Merch</a>
        </div>
        <img>
    </div>
</div>