<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label class="colon_1" id="colon">:</label>
        <label id="months">00</label>
        <label class="colon_2" id="colon">:</label>
        <label id="days">00</label>
        <label class="colon_3" id="colon">:</label>
        <label id="hours">00</label>
        <label class="colon_4" id="colon">:</label>
        <label id="minutes">00</label>
        <label class="colon_5" id="colon">:</label>
        <label id="seconds">00</label>
        <pre class="label_years">Years</pre>
        <pre class="label_months">Months</pre>  
        <pre class="label_days">Days</pre>  
        <pre class="label_hours">Hours</pre>  
        <pre class="label_minutes">Minutes</pre> 
        <pre class="label_seconds">Seconds</pre>
    </div>
    <div class="countdown_message">
        <h2>Infinity Train has been cancelled for too long</h2>
        <p>We will not stand for this</p>
    </div>
</div>