<header>
    <%- navHTML %>
    <div class="hero">
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
        <div class="hero_text">
            <h2>Climb Aboard the</h2>
            <svg height="150px"><image width="400px" height="150px" href="images/infinity_train_logo_white_bold.svg"></image></svg>
        </div>
    </div>
</header>