<%- include('../partials/countdown') %>
<div class="contact-panel">
    <div class="message_form">
        <p>This form is currently inactive. Sorry for the inconvenience</p>
        <h2>Leave us a message!</h2>
        <form action="mailto:andrewmulert@gmail.com" method="post">
            <div>
                <h3>Name*:</h3>
                <input type="text" required> <br>
            </div>
            <div>
                <h3>Email*:</h3>
                <input type="email" name="email" required> <br>
            </div>
            <div>
                <h3>Type*:</h3>
                <input type="radio" id="bug" name="message_type" value="Report a Bug" required>
                <label for="bug">Report a Bug</label><br>
                <input type="radio" id="feature" name="message_type" value="Request a Feature">
                <label for="feature">Request a Feature</label><br>
                <input type="radio" id="feedback" name="message_type" value="Request a Feature">
                <label for="feedback">Feedback</label><br>
            </div>
            <div>
                <h3>Message*:</h3>
                <input type="text" required><br>
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</div>
