<%- include('../partials/countdown') %>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
    </div>
    <div>
        <p>Hazel: Hazel is a mysterious passenger with a defective number who can only remember fragments of her past. Grace and Simon take her under their wing to induct her into the Apex.</p>
        <p>Simon: Simon is Grace’s devoted second-in-command. He’s pretentious and thinks he knows everything. He has a rigid worldview and rejects anybody or anything that challenges it. He’s the kind of guy who took one philosophy class and now acts like a philosopher, but is extremely loyal to his friends.</p>
        <p>Grace: Grace is the showoff leader of The Apex, a tribe of passenger kids who defy the rules of the train and try to get their number to go higher. She is charismatic, smart, and a natural leader. Unfortunately, she has no empathy for the various denizens of the train and views them as mere playthings for the Apex.</p>
        <p>Tuba: Tuba is Hazel’s big, hulking, sweetheart companion. She is gentle and protective of Hazel - and by association, Grace and Simon. She chooses her moments to speak deliberately, and can blast giant sonic booms from the two brass horns coming out of her shoulders. </p>
    </div>
</div>