<div class="hero_countdown">
    <label id="years">00</label>
    <label id="colon">  :  </label>
    <label id="months">00</label>
    <label id="colon">  :  </label>
    <label id="days">00</label>
    <label id="colon">  :  </label>
    <label id="hours">00</label>
    <label id="colon">  :  </label>
    <label id="minutes">00</label>
    <label id="colon">  :  </label>
    <label id="seconds">00</label>
    <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    <div class="countdown_message">
        <p>Infinity Train has been cancelled for too long</p>
        <p>We will not stand for this</p>
    </div>
</div>
<p class="banner"><b>NOTICE:</b> This site is a work in progress.
    Please excuse us at this time as we assemble this site.</p>
<div class="nav_mini">
    <div class="main_links">
        <a href="/about">Overview</a>
        <a href="/about/characters">Characters</a>
        <a href="/about/locations">Locations</a>
        <a href="/about/watch">Where to Watch</a>
    </div>
    <div class="page_links">
        <a href="#book1">Book 1</a>
        <a href="#book2">Book 2</a>
        <a href="#book3">Book 3</a>
        <a href="#book4">Book 4</a>
        <a href="#book5">Book 5 and Beyond</a>
    </div>
</div>
<div class="home-cards">
    <div class="overview-card">
        <div class="card-text">
            <h3>What is Infinity Train?</h3>
            <p>Infinity Train is an animated TV Show created by Owen Dennis and aired on Cartoon Network. 
                The show ran from August 2019 to April 2021 when it was unexpectedly canceled after its fourth season (otherwise known as books).</p>
            <p>Passengers board a train, only to discover that it is seemingly endless and getting home isn’t as easy as they would hope. 
                Among the mysteries, a strange glowing number has appeared on their hand. 
                Each book introduces new people who travel through train cars that could contain wild and unpredictable possibilities. 
                How will the train change them and will they ever be able to leave?</p>
        </div>
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
    </div>
    <div class="panel-card" id="about">
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
        <div class="card-text">
            <p>Learn more about the series and its lore</p>
            <a href="/about">About the Show</a>
        </div>
    </div>
    <div class="panel-card" id="merch">
        <div class="card-text">
            <p>Looking for some cool Infinity Train gear? Shop the collection!</p>
            <a href="/merch">Explore Merch</a>
        </div>
        <picture>
            <source srcset="images/index_hero_train_landscape-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_hero_train_landscape-medium.webp" media="(max-width: 1000px)">
            <img class="hero_image" src="images/index_hero_train_landscape-min.webp" alt="The Infinity Train spanning against the horizon, rendered by Andrew Mulert">
        </picture>
    </div>
</div>