<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label id="colon">  :  </label>
        <label id="months">00</label>
        <label id="colon">  :  </label>
        <label id="days">00</label>
        <label id="colon">  :  </label>
        <label id="hours">00</label>
        <label id="colon">  :  </label>
        <label id="minutes">00</label>
        <label id="colon">  :  </label>
        <label id="seconds">00</label>
        <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    </div>
    <div class="countdown_message">
        <h2>Infinity Train has been cancelled for too long</h2>
        <p>We will not stand for this</p>
    </div>
</div>
<div class="about-panel">
    <div class="nav_mini">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
        <div class="nav_mini_page">
            <a href="#book1">Book 1</a>
            <a href="#book2">Book 2</a>
            <a href="#book3">Book 3</a>
            <a href="#book4">Book 4</a>
            <a href="#book5">Book 5 and Beyond</a>
        </div>
    </div>
    <div class="about-panel-card" id="overview">
        <div class="about-panel-card-text">
            <h3>What is Infinity Train?</h3>
            <p>Infinity Train is an animated TV Show created by Owen Dennis and aired on Cartoon Network. The show ran from August 2019 to April 2021 when it was unexpectedly canceled after its fourth season (otherwise known as books).</p>
            <p>Passengers board a train, only to discover that it is seemingly endless and getting home isn’t as easy as they would hope. Among the mysteries, a strange glowing number has appeared on their hand. Each book introduces new people who travel through train cars that could contain wild and unpredictable possibilities. How will the train change them and will they ever be able to leave?</p>
        </div>
        <picture>
            <source srcset="images/about_series_poster-small.webp" media="(max-width: 500px)">
            <source srcset="images/about_series_poster-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="images/about_series_poster-min.webp" alt="The entire main cast of the show Infinity Train, designed by Andrew Mulert">
        </picture>
    </div>
    <div class="about-panel-card-alt" id="Book1">
        <picture>
            <source srcset="images/site_placeholder_image-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-alt-image" src="images/site_placeholder_image-min.webp" alt="Placeholder Image">
        </picture>
        <div class="about-panel-card-alt-text">
            <h3>Book 1: The Perennial Child</h3>
            <p>All Tulip wanted was to go to coding camp in Wisconsin. But a scheduling conflict with her parents leads to her attempting the journey herself. Upon encountering the Infinity Train, which presents a ride to Wisconsin, she boards the train and finds herself in a world of possibilities. Now with the help of a white spherical robot named One-One and Atticus, King of the Corgis, Tulip starts her journey to the front of the train. Will she convince the conductor to let her leave the train, and will she discover the purpose of the number on her hand in her mission to escape?</p>
            <a href="https://www.youtube.com/watch?v=bXPZzXeGD6s" target="_blank">Watch the Trailer</a>
        </div>
    </div>
    <div class="about-panel-card" id="Book2">
        <div class="about-panel-card-text">
            <h3>Book 2: Cracked Reflection</h3>
            <p>MT’s only desire is to leave the train and to live her own life. But as one of the Train’s denizens she will never be allowed to do so. A task force is sent to relentlessly hunt her down until she is eliminated. After making friends with an extraordinary deer, and meeting the passenger Jesse, she decides to help Jesse get off the train (partially to keep her relationship with the deer). But will she be able to help Jesse before she is hunted down?</p>
            <a href="https://www.youtube.com/watch?v=9livZeXARWU" target="_blank">Watch the Trailer</a>
        </div>
        <picture>
            <source srcset="images/site_placeholder_image-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="images/site_placeholder_image-min.webp" alt="Placeholder Image">
        </picture>
    </div>
    <div class="about-panel-card-alt" id="Book3">
        <picture>
            <source srcset="images/site_placeholder_image-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-alt-image" src="images/site_placeholder_image-min.webp" alt="Placeholder Image">
        </picture>
        <div class="about-panel-card-alt-text">
            <h3>Book 3: Cult of the Conductor</h3>
            <p>Grace and Simon have been enjoying their time on the train. From close friends to leaders of a gang of children called ‘The Apex’, the two of them have been causing havoc on the train for the past couple of years. But one day while leading a raid on the Unfinished Car they get separated from their crew when the false conductor intervenes. Grace and Simon must now travel through a vast number of cars to return to their gang. During their journey they meet Hazel and her denizen Tuba who they hope to introduce to the Apex. But will they make it back, and what trials does the train have in store for their journey?</p>
            <a href="https://www.youtube.com/watch?v=5lCscBFY2Lg" target="_blank">Watch the Trailer</a>
        </div>
    </div>
    <div class="about-panel-card" id="Book4">
        <div class="about-panel-card-text">
            <h3>Book 4: Duet</h3>
            <p>Ryan and Min-Gi were childhood friends with the dream of starting a band together and touring the world. But when Ryan decides that they should leave immediately on tour after graduation,  Min-Gi panics and abandons him. After spending a couple of years apart, Ryan visits Min-Gi trying to convince him to finally go on tour with him. But when Min-Gi refuses, Ryan steals his work keys and soon enough they both find themselves on the Infinity Train. Will they learn to cooperate and reconcile their friendship so they can escape the train?</p>
            <a href="https://www.youtube.com/watch?v=1yJXBpsEBQ8" target="_blank">Watch the Trailer</a>
        </div>
        <picture>
            <source srcset="images/site_placeholder_image-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="images/site_placeholder_image-min.webp" alt="Placeholder Image">
        </picture>
    </div>
    <div class="about-panel-card-alt" id="Book5">
        <picture>
            <source srcset="images/site_placeholder_image-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-alt-image" src="images/site_placeholder_image-min.webp" alt="Placeholder Image">
        </picture>
        <div class="about-panel-card-alt-text">
            <h3>Book 5 and Beyond</h3>
            <p>While Infinity Train was canceled after Book 4, the crew planned 8 total seasons, potentially including a movie. Book 5 would focus on the character Amelia, her time on the train, and her long term consequences. One of the reasons the show was potentially canceled was that Amelia, an adult character, wouldn’t be relatable to children. Emotional maturity and how characters deal with their struggles is the main focus of Infinity Train which is important for young viewers to learn. Many fans hope that Infinity Train will be renewed through efforts to raise awareness of the show and its incredible storytelling.</p>
        </div>
    </div>
</div>
<div id="return-menu">
    <a href="#home">Back to Top</a>
</div>