<%- include('../partials/countdown') %>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
    </div>
</div>