<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label id="colon">  :  </label>
        <label id="months">00</label>
        <label id="colon">  :  </label>
        <label id="days">00</label>
        <label id="colon">  :  </label>
        <label id="hours">00</label>
        <label id="colon">  :  </label>
        <label id="minutes">00</label>
        <label id="colon">  :  </label>
        <label id="seconds">00</label>
        <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    </div>
    <div class="countdown_message">
        <h2>Infinity Train has been cancelled for too long</h2>
        <p>We will not stand for this</p>
    </div>
</div>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
    </div>
    <div class="about-panel-card position-2-about" id="streaming">
        <div class="about-panel-card-text">
            <h3>Stream Now on... Nowhere</h3>
            <p>Initially released on Cartoon Network, Infinity Train soon became an HBO Max Original in August of 2020 with the release of its third book.
                But this didn't last long as the show was cancelled less than a year later in April of 2021. 
                While this meant that there wouldn't be any new episodes the show could still be streamed on the service.
                That was, until it was quietly removed in August of 2022 to the dismay of fans.</p>
            <p>"[...] Cartoon Network warned them not to do this as it would hurt relationships with creators and talent, 
                but they clearly do not care what any of this looks like publicly, much less about how we feel about it." <i>-Owen Dennis</i></p>
            <a href="https://owendennis.substack.com/p/so-uh-whats-going-on-with-infinity" target="_blank">Read the full article here</a>
        </div>
        <picture>
            <source srcset="../images/watch_hbo_ex-small.webp" media="(max-width: 500px)">
            <source srcset="../images/watch_hbo_ex-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="../images/watch_hbo_ex-min.webp" alt="The entire main cast of the show Infinity Train, designed by Andrew Mulert">
        </picture>
    </div>
    <div class="about-panel-card position-3-about">
        <div class="about-panel-card-text">
            <h3>Preserve Infinity Train on DVD</h3>
            <p>Infinity Train became an exclusive on HBO Max when Book 3 premiered on August 13th, 2020 forever locking it to streaming and limiting its access to viewers.
                Fortunately, before this happened, Books 1 and 2 were released to the public for purchase on the DVD format making it possible to preserve the show for home and personal viewing.
                While Books 3 and 4 never got a DVD release, even purchasing a DVD copy and a portion of Infinity Train to watch can show Warner Brothers that us fans still enjoy this story.
            </p>
            <h4>Purchase Book 1</h4>
            <a href="https://themysteryshack.com/collections/infinity-train/products/infinity-train-book-one-dvd?variant=31919985131635" target="_blank" class="store_link"><svg width="40px" height="40px"><image width="40px" height="40px" href="../images/shop_mysteryshack.svg"></image></svg></a>
            <a href="https://www.amazon.com/Cartoon-Network-Infinity-Train-Book/dp/B0851LFNY6" target="_blank" class="store_link"><svg width="40px" height="40px"><image width="40px" height="40px" href="../images/shop_amazon.svg"></image></svg></a>
            <h4>Purchase Book 2</h4>
            <a href="https://themysteryshack.com/collections/infinity-train/products/infinity-train-book-two-dvd?variant=39349406695539" target="_blank" class="store_link"><svg width="40px" height="40px"><image width="40px" height="40px" href="../images/shop_mysteryshack.svg"></image></svg></a>
            <a href="https://www.amazon.com/Infinity-Train-Book-Two-DVD/dp/B08XFP69RD" target="_blank" class="store_link"><svg width="40px" height="40px"><image width="40px" height="40px" href="../images/shop_amazon.svg"></image></svg></a>
        </div>
        <picture>
            <source srcset="../images/watch_dvd-small.webp" media="(max-width: 500px)">
            <source srcset="../images/watch_dvd-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="../images/watch_dvd-min.webp" alt="The entire main cast of the show Infinity Train, designed by Andrew Mulert">
        </picture>
    </div>
</div>