<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label id="colon">  :  </label>
        <label id="months">00</label>
        <label id="colon">  :  </label>
        <label id="days">00</label>
        <label id="colon">  :  </label>
        <label id="hours">00</label>
        <label id="colon">  :  </label>
        <label id="minutes">00</label>
        <label id="colon">  :  </label>
        <label id="seconds">00</label>
        <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    </div>
    <div class="countdown_message">
        <h2>Infinity Train has been cancelled for too long</h2>
        <p>We will not stand for this</p>
    </div>
</div>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/about" id="home">Overview</a>
            <a href="/about/characters">Characters</a>
            <a href="/about/locations">Locations</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
    </div>
    <div class="about-panel-card-full position-2-watch" id="streaming">
        <div class="about-panel-card-text">
            <h3>Watch Now on... Nowhere</h3>
            <p>Initially released on Cartoon Network, Infinity Train soon became an HBO Max Original in August of 2020 with the release of its third book.
                But this didn't last long as the show was cancelled less than a year later in April of 2021. 
                While this meant that there wouldn't be any new episodes the show could still be streamed on the service.
                That was, until it was quietly removed in August of 2022 to the dismay of fans.</p>
            <p>"[...] Cartoon Network warned them not to do this as it would hurt relationships with creators and talent, 
                but they clearly do not care what any of this looks like publicly, much less about how we feel about it." <i>-Owen Dennis</i></p>
            <a href="https://owendennis.substack.com/p/so-uh-whats-going-on-with-infinity" target="_blank">Read the full article here</a>
        </div>
        <picture>
            <source srcset="../images/watch_hbo_ex-small.webp" media="(max-width: 500px)">
            <source srcset="../images/watch_hbo_ex-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="../images/watch_hbo_ex-min.webp" alt="The entire main cast of the show Infinity Train, designed by Andrew Mulert">
        </picture>
    </div>
</div>