<div class="static" id="static-trigger"></div>
<h1 id="error_Number">500</h1>
<h2 id="error_Reference">Internal Server Error. A fatal error was encountered while attempting to respond to your request: </p>
<pre><%= error %></pre>
<audio id="static-audio" loop preload="auto">
  <source src="/audio/static.mp3" type="audio/mp3">
Your browser does not support the audio element.
</audio>