<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label id="colon">  :  </label>
        <label id="months">00</label>
        <label id="colon">  :  </label>
        <label id="days">00</label>
        <label id="colon">  :  </label>
        <label id="hours">00</label>
        <label id="colon">  :  </label>
        <label id="minutes">00</label>
        <label id="colon">  :  </label>
        <label id="seconds">00</label>
        <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    </div>
    <div class="countdown_message">
        <p>Infinity Train has been cancelled for too long</p>
        <p>We will not stand for this</p>
    </div>
</div>
<div class="row_1">
    <h2 class="row_header">Plot</h2>
    <p>Infinity Train is an animated show from Cartoon Network that premiered on August 5th, 2019. 
        It is an Isekai genre of show where the main character of each season is transported onto the Infinity Train and is each given a mysterious glowing green number on their right hands.</p>
</div>