<div class="hero_countdown">
    <div class="countdown_timer">
        <label id="years">00</label>
        <label id="colon">  :  </label>
        <label id="months">00</label>
        <label id="colon">  :  </label>
        <label id="days">00</label>
        <label id="colon">  :  </label>
        <label id="hours">00</label>
        <label id="colon">  :  </label>
        <label id="minutes">00</label>
        <label id="colon">  :  </label>
        <label id="seconds">00</label>
        <pre> Years,  Months,  Days,  Hours,  Minutes,  Seconds </pre>
    </div>
    <div class="countdown_message">
        <h2>Infinity Train has been cancelled for too long</h2>
        <p>We will not stand for this</p>
    </div>
</div>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/support" id="home">Overview</a>
            <a href="/support/creators">Creators</a>
            <a href="/support/share">Share to Social</a>
            <a href="/about/watch">Where to Watch</a>
        </div>
    </div>
    <div class="about-panel-card position-2-about" id="streaming">
        <div class="about-panel-card-text">
            <h3>Watch Now on... Nowhere</h3>
            <p>Initially released on Cartoon Network, Infinity Train soon became an HBO Max Original in August of 2020 with the release of its third book.
                But this didn't last long as the show was cancelled less than a year later in April of 2021. 
                While this meant that there wouldn't be any new episodes the show could still be streamed on the service.
                That was, until it was quietly removed in August of 2022 to the dismay of fans.</p>
            <p>"[...] Cartoon Network warned them not to do this as it would hurt relationships with creators and talent, 
                but they clearly do not care what any of this looks like publicly, much less about how we feel about it." <i>-Owen Dennis</i></p>
            <a href="https://owendennis.substack.com/p/so-uh-whats-going-on-with-infinity" target="_blank">Read the full article here</a>
        </div>
        <picture>
            <source srcset="../images/watch_hbo_ex-small.webp" media="(max-width: 500px)">
            <source srcset="../images/watch_hbo_ex-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-image" src="../images/watch_hbo_ex-min.webp" alt="The entire main cast of the show Infinity Train, designed by Andrew Mulert">
        </picture>
    </div>
    <div class="about-panel-card-alt position-3-about" id="overview">
        <picture>
            <source srcset="images/about_series_poster-small.webp" media="(max-width: 500px)">
            <source srcset="images/about_series_poster-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-alt-image" src="images/about_series_poster-min.webp" alt="The entire main cast of the show Infinity Train, designed by Andrew Mulert">
        </picture>
        <div class="about-panel-card-alt-text">
            <h3>What can I do to help bring Infinity Train back?</h3>
            <p>“...people talking about the show increases the value of it. So the fact that Infinity Train trended on twitter for 3 days after all this? That adds value. The fact that Infinity Train is now topping the charts on iTunes? That adds value. If it has more value, that means the people in charge will want to keep it or license it.” -Owen Dennis, Creator</p>
            <a href="https://owendennis.substack.com/p/so-uh-whats-going-on-with-infinity" target="_blank">Read the full article here</a>
        </div>
    </div>
    <div class="about-panel-card position-4-about" id="petition">
        <div class="home-panel-card-text">
            <h3>Want more Infinity Train? <br> Show your support today!</h3>
            <p>If you would like to see the story of Infinity Train finished with the original plans for Books 5-8, sign the petition below! Shows that are cancelled usually stand a better chance of being renewed or remade if there is evidence of fan support. A petition is one way that we can show that there are people who will watch the show if it returns to air or streaming.</p>
            <a href="https://www.change.org/p/cartoon-network-renew-infinity-train-for-books-5-8" target="_blank">Sign the Petition</a>
        </div>
        <picture>
            <source srcset="images/index_apex-small.webp" media="(max-width: 500px)">
            <source srcset="images/index_apex-medium.webp" media="(max-width: 1000px)">
            <img class="home-panel-card-image" src="images/index_apex-min.webp" alt="Simon and Grace raising their arms above the balcony in protest">
        </picture>
    </div>
    <div class="about-panel-card-alt position-5-about" id="Book3">
        <picture>
            <source srcset="images/site_placeholder_image-small.webp" media="(max-width: 500px)">
            <source srcset="images/site_placeholder_image-medium.webp" media="(max-width: 1000px)">
            <img class="about-panel-card-alt-image" src="images/site_placeholder_image-min.webp" alt="Placeholder Image">
            <!--All images on this page must be in a 8 by 10 aspect ratio-->
        </picture>
        <div class="about-panel-card-alt-text">
            <h3>Why was Infinity Train canceled?</h3>
            <p>Grace and Simon have been enjoying their time on the train. From close friends to leaders of a gang of children called ‘The Apex’, the two of them have been causing havoc on the train for the past couple of years. But one day while leading a raid on the Unfinished Car they get separated from their crew when the false conductor intervenes. Grace and Simon must now travel through a vast number of cars to return to their gang. During their journey they meet Hazel and her denizen Tuba who they hope to introduce to the Apex. But will they make it back, and what trials does the train have in store for their journey?</p>
            <a href="https://www.youtube.com/watch?v=5lCscBFY2Lg" target="_blank">Watch the Trailer</a>
        </div>
    </div>
</div>
<div id="return-menu">
    <a href="#home">Back to Top</a>
</div>