<%- include('../partials/countdown') %>
<div class="about-panel">
    <div class="nav_mini position-1-about">
        <div class="nav_mini_main">
            <a href="/support" id="home">Overview</a>
            <a href="/support/creators">Creators</a>
            <a href="/support/share">Share to Social</a>
            <a href="/support/watch">Where to Watch</a>
        </div>
    </div>
</div>